datasets/schemas/citygml/3.0/pointCloud.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:pcl="http://www.opengis.net/citygml/pointcloud/3.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/pointcloud/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractGenericApplicationPropertyOfPointCloud" type="anyType"/>
  <element name="PointCloud" substitutionGroup="gml:AbstractFeature" type="pcl:PointCloudType"/>
  <complexType name="PointCloudType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="mimeType" type="gml:CodeType"/>
          <element minOccurs="0" name="pointFile" type="anyURI"/>
          <element minOccurs="0" name="pointFileSrsName" type="string"/>
          <element minOccurs="0" name="points" type="gml:MultiPointPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="pcl:AbstractGenericApplicationPropertyOfPointCloud"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PointCloudPropertyType">
    <sequence minOccurs="0">
      <element ref="pcl:PointCloud"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
