datasets/schemas/citygml/3.0/vegetation.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:veg="http://www.opengis.net/citygml/vegetation/3.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/vegetation/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractVegetationObject" type="anyType"/>
  <element abstract="true" name="AbstractVegetationObject" substitutionGroup="core:AbstractOccupiedSpace" type="veg:AbstractVegetationObjectType">
    <annotation>
      <documentation>SIG3D: Abstract super class of SolitaryVegetationObject and PlantCover</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractVegetationObjectType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="veg:AbstractGenericApplicationPropertyOfAbstractVegetationObject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractVegetationObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="veg:AbstractVegetationObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfPlantCover" type="anyType"/>
  <element name="PlantCover" substitutionGroup="veg:AbstractVegetationObject" type="veg:PlantCoverType">
    <annotation>
      <documentation>SIG3D: Area filled with a specific vegetation</documentation>
    </annotation>
  </element>
  <complexType name="PlantCoverType">
    <complexContent>
      <extension base="veg:AbstractVegetationObjectType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Classification of PlantCover as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Function of PlantCover as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Usage of PlantCover as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="averageHeight" type="gml:LengthType">
            <annotation>
              <documentation>SIG3D: Average value of the heights of the grown-up plants</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="minHeight" type="gml:LengthType"/>
          <element minOccurs="0" name="maxHeight" type="gml:LengthType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="veg:AbstractGenericApplicationPropertyOfPlantCover"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlantCoverPropertyType">
    <sequence minOccurs="0">
      <element ref="veg:PlantCover"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfSolitaryVegetationObject" type="anyType"/>
  <element name="SolitaryVegetationObject" substitutionGroup="veg:AbstractVegetationObject" type="veg:SolitaryVegetationObjectType">
    <annotation>
      <documentation>SIG3D: Single vegetation object</documentation>
    </annotation>
  </element>
  <complexType name="SolitaryVegetationObjectType">
    <complexContent>
      <extension base="veg:AbstractVegetationObjectType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Classification of SolitaryVegetationObject as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Function of SolitaryVegetationObject as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Usage of SolitaryVegetationObject as given by the relevant national regulations, information communities, or specific applications.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="species" type="gml:CodeType">
            <annotation>
              <documentation>SIG3D: Botanical classification of the SolitaryVegetationObject</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="height" type="gml:LengthType">
            <annotation>
              <documentation>SIG3D: Distance between the highest point of the vegetation object and the lowest point of the terrain at the bottom of the object.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="trunkDiameter" type="gml:LengthType">
            <annotation>
              <documentation>SIG3D: Value of the trunk's diameter</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="crownDiameter" type="gml:LengthType">
            <annotation>
              <documentation>SIG3D: Maximal diameter of the crown.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rootBallDiameter" type="gml:LengthType"/>
          <element minOccurs="0" name="maxRootBallDepth" type="gml:LengthType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="veg:AbstractGenericApplicationPropertyOfSolitaryVegetationObject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SolitaryVegetationObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="veg:SolitaryVegetationObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
