resources/jaxb/citygml/ade_hooks/ade_hooks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ citygml4j - The Open Source Java API for CityGML
  ~ https://github.com/citygml4j
  ~
  ~ Copyright 2013-2018 Claus Nagel <claus.nagel@gmail.com>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema xmlns="http://www.citygml4j.org/ade_hooks" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.citygml4j.org/ade_hooks"
    xmlns:core1="http://www.opengis.net/citygml/1.0" xmlns:app1="http://www.opengis.net/citygml/appearance/1.0"
    xmlns:bldg1="http://www.opengis.net/citygml/building/1.0" xmlns:frn1="http://www.opengis.net/citygml/cityfurniture/1.0"
    xmlns:grp1="http://www.opengis.net/citygml/cityobjectgroup/1.0" xmlns:luse1="http://www.opengis.net/citygml/landuse/1.0"
    xmlns:dem1="http://www.opengis.net/citygml/relief/1.0" xmlns:tran1="http://www.opengis.net/citygml/transportation/1.0"
    xmlns:veg1="http://www.opengis.net/citygml/vegetation/1.0" xmlns:wtr1="http://www.opengis.net/citygml/waterbody/1.0"
    xmlns:core2="http://www.opengis.net/citygml/2.0" xmlns:app2="http://www.opengis.net/citygml/appearance/2.0"
    xmlns:brid2="http://www.opengis.net/citygml/bridge/2.0" xmlns:bldg2="http://www.opengis.net/citygml/building/2.0"
    xmlns:frn2="http://www.opengis.net/citygml/cityfurniture/2.0" xmlns:grp2="http://www.opengis.net/citygml/cityobjectgroup/2.0" 
    xmlns:luse2="http://www.opengis.net/citygml/landuse/2.0" xmlns:dem2="http://www.opengis.net/citygml/relief/2.0" 
    xmlns:tran2="http://www.opengis.net/citygml/transportation/2.0" xmlns:tun2="http://www.opengis.net/citygml/tunnel/2.0"
    xmlns:veg2="http://www.opengis.net/citygml/vegetation/2.0" xmlns:wtr2="http://www.opengis.net/citygml/waterbody/2.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:import namespace="http://www.opengis.net/citygml/1.0" schemaLocation="../1.0.0/cityGMLBase.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/appearance/1.0" schemaLocation="../1.0.0/appearance.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/1.0" schemaLocation="../1.0.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/cityfurniture/1.0" schemaLocation="../1.0.0/cityFurniture.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/cityobjectgroup/1.0" schemaLocation="../1.0.0/cityObjectGroup.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/landuse/1.0" schemaLocation="../1.0.0/landUse.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/relief/1.0" schemaLocation="../1.0.0/relief.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/transportation/1.0" schemaLocation="../1.0.0/transportation.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/vegetation/1.0" schemaLocation="../1.0.0/vegetation.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/waterbody/1.0" schemaLocation="../1.0.0/waterBody.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="../2.0.0/cityGMLBase.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/appearance/2.0" schemaLocation="../2.0.0/appearance.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/bridge/2.0" schemaLocation="../2.0.0/bridge.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="../2.0.0/building.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/cityfurniture/2.0" schemaLocation="../2.0.0/cityFurniture.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/cityobjectgroup/2.0" schemaLocation="../2.0.0/cityObjectGroup.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/landuse/2.0" schemaLocation="../2.0.0/landUse.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/relief/2.0" schemaLocation="../2.0.0/relief.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/transportation/2.0" schemaLocation="../2.0.0/transportation.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/tunnel/2.0" schemaLocation="../2.0.0/tunnel.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/vegetation/2.0" schemaLocation="../2.0.0/vegetation.xsd"/>
    <xs:import namespace="http://www.opengis.net/citygml/waterbody/2.0" schemaLocation="../2.0.0/waterBody.xsd"/>

    <!-- dummy ade hooks for appearance -->
    <xs:element name="ADE_Appearance_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfAppearance"/>
    <xs:element name="ADE_SurfaceData_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfSurfaceData"/>
    <xs:element name="ADE_Texture_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfTexture"/>
    <xs:element name="ADE_ParameterizedTexture_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfParameterizedTexture"/>
    <xs:element name="ADE_GeoreferencedTexture_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfGeoreferencedTexture"/>
    <xs:element name="ADE_TextureParameterization_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfTextureParameterization"/>
    <xs:element name="ADE_TexCoordList_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfTexCoordList"/>
    <xs:element name="ADE_TexCoordGen_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfTexCoordGen"/>
    <xs:element name="ADE_X3DMaterial_1" type="xs:anyType" abstract="true" substitutionGroup="app1:_GenericApplicationPropertyOfX3DMaterial"/>
    
    <xs:element name="ADE_Appearance_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfAppearance"/>
    <xs:element name="ADE_SurfaceData_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfSurfaceData"/>
    <xs:element name="ADE_Texture_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfTexture"/>
    <xs:element name="ADE_ParameterizedTexture_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfParameterizedTexture"/>
    <xs:element name="ADE_GeoreferencedTexture_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfGeoreferencedTexture"/>
    <xs:element name="ADE_TextureParameterization_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfTextureParameterization"/>
    <xs:element name="ADE_TexCoordList_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfTexCoordList"/>
    <xs:element name="ADE_TexCoordGen_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfTexCoordGen"/>
    <xs:element name="ADE_X3DMaterial_2" type="xs:anyType" abstract="true" substitutionGroup="app2:_GenericApplicationPropertyOfX3DMaterial"/>
    
    <!-- dummy ade hooks for building -->
    <xs:element name="ADE_AbstractBuilding_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfAbstractBuilding"/>
    <xs:element name="ADE_Building_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfBuilding"/>
    <xs:element name="ADE_BuildingPart_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfBuildingPart"/>
    <xs:element name="ADE_BuildingInstallation_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfBuildingInstallation"/>
    <xs:element name="ADE_IntBuildingInstallation_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfIntBuildingInstallation"/>
    <xs:element name="ADE_BoundarySurface_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfBoundarySurface"/>
    <xs:element name="ADE_RoofSurface_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfRoofSurface"/>
    <xs:element name="ADE_WallSurface_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfWallSurface"/>
    <xs:element name="ADE_GroundSurface_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfGroundSurface"/>
    <xs:element name="ADE_ClosureSurface_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfClosureSurface"/>
    <xs:element name="ADE_FloorSurface_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfFloorSurface"/>
    <xs:element name="ADE_InteriorWallSurface_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfInteriorWallSurface"/>
    <xs:element name="ADE_CeilingSurface_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfCeilingSurface"/>
    <xs:element name="ADE_Opening_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfOpening"/>
    <xs:element name="ADE_Window_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfWindow"/>
    <xs:element name="ADE_Door_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfDoor"/>
    <xs:element name="ADE_Room_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfRoom"/>
    <xs:element name="ADE_BuildingFurniture_1" type="xs:anyType" abstract="true" substitutionGroup="bldg1:_GenericApplicationPropertyOfBuildingFurniture"/>

    <xs:element name="ADE_AbstractBuilding_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfAbstractBuilding"/>
    <xs:element name="ADE_Building_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfBuilding"/>
    <xs:element name="ADE_BuildingPart_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfBuildingPart"/>
    <xs:element name="ADE_BuildingInstallation_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfBuildingInstallation"/>
    <xs:element name="ADE_IntBuildingInstallation_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfIntBuildingInstallation"/>
    <xs:element name="ADE_BoundarySurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfBoundarySurface"/>
    <xs:element name="ADE_RoofSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfRoofSurface"/>
    <xs:element name="ADE_WallSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfWallSurface"/>
    <xs:element name="ADE_GroundSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfGroundSurface"/>
    <xs:element name="ADE_ClosureSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfClosureSurface"/>
    <xs:element name="ADE_FloorSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfFloorSurface"/>
    <xs:element name="ADE_OuterFloorSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfOuterFloorSurface"/>
    <xs:element name="ADE_InteriorWallSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfInteriorWallSurface"/>
    <xs:element name="ADE_CeilingSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfCeilingSurface"/>
    <xs:element name="ADE_OuterCeilingSurface_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfOuterCeilingSurface"/>
    <xs:element name="ADE_Opening_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfOpening"/>
    <xs:element name="ADE_Window_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfWindow"/>
    <xs:element name="ADE_Door_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfDoor"/>
    <xs:element name="ADE_Room_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfRoom"/>
    <xs:element name="ADE_BuildingFurniture_2" type="xs:anyType" abstract="true" substitutionGroup="bldg2:_GenericApplicationPropertyOfBuildingFurniture"/>

    <!-- dummy ade hooks for bridge -->
    <xs:element name="ADE_AbstractBridge_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfAbstractBridge"/>
    <xs:element name="ADE_Bridge_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfBridge"/>
    <xs:element name="ADE_BridgePart_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfBridgePart"/>
    <xs:element name="ADE_BridgeConstructionElement_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfBridgeConstructionElement"/>
    <xs:element name="ADE_BridgeInstallation_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfBridgeInstallation"/>
    <xs:element name="ADE_IntBridgeInstallation_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfIntBridgeInstallation"/>
    <xs:element name="ADE_Bridge_BoundarySurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfBoundarySurface"/>
    <xs:element name="ADE_Bridge_RoofSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfRoofSurface"/>
    <xs:element name="ADE_Bridge_WallSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfWallSurface"/>
    <xs:element name="ADE_Bridge_GroundSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfGroundSurface"/>
    <xs:element name="ADE_Bridge_ClosureSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfClosureSurface"/>
    <xs:element name="ADE_Bridge_FloorSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfFloorSurface"/>
    <xs:element name="ADE_Bridge_OuterFloorSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfOuterFloorSurface"/>
    <xs:element name="ADE_Bridge_InteriorWallSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfInteriorWallSurface"/>
    <xs:element name="ADE_Bridge_CeilingSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfCeilingSurface"/>
    <xs:element name="ADE_Bridge_OuterCeilingSurface_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfOuterCeilingSurface"/>
    <xs:element name="ADE_Bridge_Opening_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfOpening"/>
    <xs:element name="ADE_Bridge_Window_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfWindow"/>
    <xs:element name="ADE_Bridge_Door_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfDoor"/>
    <xs:element name="ADE_BridgeRoom_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfBridgeRoom"/>
    <xs:element name="ADE_BridgeFurniture_2" type="xs:anyType" abstract="true" substitutionGroup="brid2:_GenericApplicationPropertyOfBridgeFurniture"/>

    <!-- dummy ade hooks for cityfurniture -->
    <xs:element name="ADE_CityFurniture_1" type="xs:anyType" abstract="true" substitutionGroup="frn1:_GenericApplicationPropertyOfCityFurniture"/>

    <xs:element name="ADE_CityFurniture_2" type="xs:anyType" abstract="true" substitutionGroup="frn2:_GenericApplicationPropertyOfCityFurniture"/>
    
    <!-- dummy ade hooks for core -->
    <xs:element name="ADE_CityModel_1" type="xs:anyType" abstract="true" substitutionGroup="core1:_GenericApplicationPropertyOfCityModel"/>
    <xs:element name="ADE_CityObject_1" type="xs:anyType" abstract="true" substitutionGroup="core1:_GenericApplicationPropertyOfCityObject"/>
    <xs:element name="ADE_Site_1" type="xs:anyType" abstract="true" substitutionGroup="core1:_GenericApplicationPropertyOfSite"/>
    <xs:element name="ADE_Address_1" type="xs:anyType" abstract="true" substitutionGroup="core1:_GenericApplicationPropertyOfAddress"/>

    <xs:element name="ADE_CityModel_2" type="xs:anyType" abstract="true" substitutionGroup="core2:_GenericApplicationPropertyOfCityModel"/>
    <xs:element name="ADE_CityObject_2" type="xs:anyType" abstract="true" substitutionGroup="core2:_GenericApplicationPropertyOfCityObject"/>
    <xs:element name="ADE_Site_2" type="xs:anyType" abstract="true" substitutionGroup="core2:_GenericApplicationPropertyOfSite"/>
    <xs:element name="ADE_Address_2" type="xs:anyType" abstract="true" substitutionGroup="core2:_GenericApplicationPropertyOfAddress"/>
    
    <!-- dummy ade hooks for cityobjectgroup -->
    <xs:element name="ADE_CityObjectGroup_1" type="xs:anyType" abstract="true" substitutionGroup="grp1:_GenericApplicationPropertyOfCityObjectGroup"/>

    <xs:element name="ADE_CityObjectGroup_2" type="xs:anyType" abstract="true" substitutionGroup="grp2:_GenericApplicationPropertyOfCityObjectGroup"/>
    
    <!-- dummy ade hooks for landuse -->
    <xs:element name="ADE_LandUse_1" type="xs:anyType" abstract="true" substitutionGroup="luse1:_GenericApplicationPropertyOfLandUse"/>
    
    <xs:element name="ADE_LandUse_2" type="xs:anyType" abstract="true" substitutionGroup="luse2:_GenericApplicationPropertyOfLandUse"/>
    
    <!-- dummy ade hooks for relief -->
    <xs:element name="ADE_ReliefFeature_1" type="xs:anyType" abstract="true" substitutionGroup="dem1:_GenericApplicationPropertyOfReliefFeature"/>
    <xs:element name="ADE_ReliefComponent_1" type="xs:anyType" abstract="true" substitutionGroup="dem1:_GenericApplicationPropertyOfReliefComponent"/>
    <xs:element name="ADE_TinRelief_1" type="xs:anyType" abstract="true" substitutionGroup="dem1:_GenericApplicationPropertyOfTinRelief"/>
    <xs:element name="ADE_RasterRelief_1" type="xs:anyType" abstract="true" substitutionGroup="dem1:_GenericApplicationPropertyOfRasterRelief"/>
    <xs:element name="ADE_MassPointRelief_1" type="xs:anyType" abstract="true" substitutionGroup="dem1:_GenericApplicationPropertyOfMassPointRelief"/>
    <xs:element name="ADE_BreakLineRelief_1" type="xs:anyType" abstract="true" substitutionGroup="dem1:_GenericApplicationPropertyOfBreaklineRelief"/>

    <xs:element name="ADE_ReliefFeature_2" type="xs:anyType" abstract="true" substitutionGroup="dem2:_GenericApplicationPropertyOfReliefFeature"/>
    <xs:element name="ADE_ReliefComponent_2" type="xs:anyType" abstract="true" substitutionGroup="dem2:_GenericApplicationPropertyOfReliefComponent"/>
    <xs:element name="ADE_TinRelief_2" type="xs:anyType" abstract="true" substitutionGroup="dem2:_GenericApplicationPropertyOfTinRelief"/>
    <xs:element name="ADE_RasterRelief_2" type="xs:anyType" abstract="true" substitutionGroup="dem2:_GenericApplicationPropertyOfRasterRelief"/>
    <xs:element name="ADE_MassPointRelief_2" type="xs:anyType" abstract="true" substitutionGroup="dem2:_GenericApplicationPropertyOfMassPointRelief"/>
    <xs:element name="ADE_BreakLineRelief_2" type="xs:anyType" abstract="true" substitutionGroup="dem2:_GenericApplicationPropertyOfBreaklineRelief"/>
    
    <!-- dummy ade hooks for transportation -->
    <xs:element name="ADE_TransportationObject_1" type="xs:anyType" abstract="true" substitutionGroup="tran1:_GenericApplicationPropertyOfTransportationObject"/>
    <xs:element name="ADE_TransportationComplex_1" type="xs:anyType" abstract="true" substitutionGroup="tran1:_GenericApplicationPropertyOfTransportationComplex"/>
    <xs:element name="ADE_TrafficArea_1" type="xs:anyType" abstract="true" substitutionGroup="tran1:_GenericApplicationPropertyOfTrafficArea"/>
    <xs:element name="ADE_AuxiliaryTrafficArea_1" type="xs:anyType" abstract="true" substitutionGroup="tran1:_GenericApplicationPropertyOfAuxiliaryTrafficArea"/>
    <xs:element name="ADE_Track_1" type="xs:anyType" abstract="true" substitutionGroup="tran1:_GenericApplicationPropertyOfTrack"/>
    <xs:element name="ADE_Road_1" type="xs:anyType" abstract="true" substitutionGroup="tran1:_GenericApplicationPropertyOfRoad"/>
    <xs:element name="ADE_Railway_1" type="xs:anyType" abstract="true" substitutionGroup="tran1:_GenericApplicationPropertyOfRailway"/>
    <xs:element name="ADE_Square_1" type="xs:anyType" abstract="true" substitutionGroup="tran1:_GenericApplicationPropertyOfSquare"/>

    <xs:element name="ADE_TransportationObject_2" type="xs:anyType" abstract="true" substitutionGroup="tran2:_GenericApplicationPropertyOfTransportationObject"/>
    <xs:element name="ADE_TransportationComplex_2" type="xs:anyType" abstract="true" substitutionGroup="tran2:_GenericApplicationPropertyOfTransportationComplex"/>
    <xs:element name="ADE_TrafficArea_2" type="xs:anyType" abstract="true" substitutionGroup="tran2:_GenericApplicationPropertyOfTrafficArea"/>
    <xs:element name="ADE_AuxiliaryTrafficArea_2" type="xs:anyType" abstract="true" substitutionGroup="tran2:_GenericApplicationPropertyOfAuxiliaryTrafficArea"/>
    <xs:element name="ADE_Track_2" type="xs:anyType" abstract="true" substitutionGroup="tran2:_GenericApplicationPropertyOfTrack"/>
    <xs:element name="ADE_Road_2" type="xs:anyType" abstract="true" substitutionGroup="tran2:_GenericApplicationPropertyOfRoad"/>
    <xs:element name="ADE_Railway_2" type="xs:anyType" abstract="true" substitutionGroup="tran2:_GenericApplicationPropertyOfRailway"/>
    <xs:element name="ADE_Square_2" type="xs:anyType" abstract="true" substitutionGroup="tran2:_GenericApplicationPropertyOfSquare"/>
    
    <!-- dummy ade hooks for tunnel -->
    <xs:element name="ADE_AbstractTunnel_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfAbstractTunnel"/>
    <xs:element name="ADE_Tunnel_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfTunnel"/>
    <xs:element name="ADE_TunnelPart_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfTunnelPart"/>
    <xs:element name="ADE_TunnelInstallation_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfTunnelInstallation"/>
    <xs:element name="ADE_IntTunnelInstallation_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfIntTunnelInstallation"/>
    <xs:element name="ADE_Tunnel_BoundarySurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfBoundarySurface"/>
    <xs:element name="ADE_Tunnel_RoofSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfRoofSurface"/>
    <xs:element name="ADE_Tunnel_WallSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfWallSurface"/>
    <xs:element name="ADE_Tunnel_GroundSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfGroundSurface"/>
    <xs:element name="ADE_Tunnel_ClosureSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfClosureSurface"/>
    <xs:element name="ADE_Tunnel_FloorSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfFloorSurface"/>
    <xs:element name="ADE_Tunnel_OuterFloorSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfOuterFloorSurface"/>
    <xs:element name="ADE_Tunnel_InteriorWallSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfInteriorWallSurface"/>
    <xs:element name="ADE_Tunnel_CeilingSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfCeilingSurface"/>
    <xs:element name="ADE_Tunnel_OuterCeilingSurface_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfOuterCeilingSurface"/>
    <xs:element name="ADE_Tunnel_Opening_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfOpening"/>
    <xs:element name="ADE_Tunnel_Window_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfWindow"/>
    <xs:element name="ADE_Tunnel_Door_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfDoor"/>
    <xs:element name="ADE_HollowSpace_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfHollowSpace"/>
    <xs:element name="ADE_TunnelFurniture_2" type="xs:anyType" abstract="true" substitutionGroup="tun2:_GenericApplicationPropertyOfTunnelFurniture"/>
    
    <!-- dummy ade hooks for vegetation -->
    <xs:element name="ADE_VegetationObject_1" type="xs:anyType" abstract="true" substitutionGroup="veg1:_GenericApplicationPropertyOfVegetationObject"/>
    <xs:element name="ADE_PlantCover_1" type="xs:anyType" abstract="true" substitutionGroup="veg1:_GenericApplicationPropertyOfPlantCover"/>
    <xs:element name="ADE_SolitaryVegetationObject_1" type="xs:anyType" abstract="true" substitutionGroup="veg1:_GenericApplicationPropertyOfSolitaryVegetationObject"/>

    <xs:element name="ADE_VegetationObject_2" type="xs:anyType" abstract="true" substitutionGroup="veg2:_GenericApplicationPropertyOfVegetationObject"/>
    <xs:element name="ADE_PlantCover_2" type="xs:anyType" abstract="true" substitutionGroup="veg2:_GenericApplicationPropertyOfPlantCover"/>
    <xs:element name="ADE_SolitaryVegetationObject_2" type="xs:anyType" abstract="true" substitutionGroup="veg2:_GenericApplicationPropertyOfSolitaryVegetationObject"/>
    
    <!-- dummy ade hooks for waterbody -->
    <xs:element name="ADE_WaterObject_1" type="xs:anyType" abstract="true" substitutionGroup="wtr1:_GenericApplicationPropertyOfWaterObject"/>
    <xs:element name="ADE_WaterBody_1" type="xs:anyType" abstract="true" substitutionGroup="wtr1:_GenericApplicationPropertyOfWaterBody"/>
    <xs:element name="ADE_WaterBoundarySurface_1" type="xs:anyType" abstract="true" substitutionGroup="wtr1:_GenericApplicationPropertyOfWaterBoundarySurface"/>
    <xs:element name="ADE_WaterSurface_1" type="xs:anyType" abstract="true" substitutionGroup="wtr1:_GenericApplicationPropertyOfWaterSurface"/>
    <xs:element name="ADE_WaterGroundSurface_1" type="xs:anyType" abstract="true" substitutionGroup="wtr1:_GenericApplicationPropertyOfWaterGroundSurface"/>
    <xs:element name="ADE_WateClosureSurface_1" type="xs:anyType" abstract="true" substitutionGroup="wtr1:_GenericApplicationPropertyOfWaterClosureSurface"/>

    <xs:element name="ADE_WaterObject_2" type="xs:anyType" abstract="true" substitutionGroup="wtr2:_GenericApplicationPropertyOfWaterObject"/>
    <xs:element name="ADE_WaterBody_2" type="xs:anyType" abstract="true" substitutionGroup="wtr2:_GenericApplicationPropertyOfWaterBody"/>
    <xs:element name="ADE_WaterBoundarySurface_2" type="xs:anyType" abstract="true" substitutionGroup="wtr2:_GenericApplicationPropertyOfWaterBoundarySurface"/>
    <xs:element name="ADE_WaterSurface_2" type="xs:anyType" abstract="true" substitutionGroup="wtr2:_GenericApplicationPropertyOfWaterSurface"/>
    <xs:element name="ADE_WaterGroundSurface_2" type="xs:anyType" abstract="true" substitutionGroup="wtr2:_GenericApplicationPropertyOfWaterGroundSurface"/>
    <xs:element name="ADE_WateClosureSurface_2" type="xs:anyType" abstract="true" substitutionGroup="wtr2:_GenericApplicationPropertyOfWaterClosureSurface"/>
</xs:schema>
