src/main/resources/org/citygml4j/schemas/citygml/3.0/cityGMLBase.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://www.opengis.net/citygml/appearance/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:dyn="http://www.opengis.net/citygml/dynamizer/3.0" xmlns:gen="http://www.opengis.net/citygml/generics/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:pcl="http://www.opengis.net/citygml/pointcloud/3.0" xmlns:vers="http://www.opengis.net/citygml/versioning/3.0" xmlns:xAL="urn:oasis:names:tc:ciq:xsdschema:xAL:2.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/appearance/3.0" schemaLocation="./appearance.xsd"/>
  <import namespace="http://www.opengis.net/citygml/dynamizer/3.0" schemaLocation="./dynamizer.xsd"/>
  <import namespace="http://www.opengis.net/citygml/generics/3.0" schemaLocation="./generics.xsd"/>
  <import namespace="http://www.opengis.net/citygml/pointcloud/3.0" schemaLocation="./pointCloud.xsd"/>
  <import namespace="http://www.opengis.net/citygml/versioning/3.0" schemaLocation="./versioning.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="../../gml/3.3/extdEncRule.xsd"/>
  <import namespace="urn:oasis:names:tc:ciq:xsdschema:xAL:2.0" schemaLocation="../../xal/2.0/xAL.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractAppearance" type="anyType"/>
  <element abstract="true" name="AbstractAppearance" substitutionGroup="core:AbstractFeatureWithLifespan" type="core:AbstractAppearanceType"/>
  <complexType abstract="true" name="AbstractAppearanceType">
    <complexContent>
      <extension base="core:AbstractFeatureWithLifespanType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractAppearance"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractAppearancePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractAppearance"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractCityObject" type="anyType"/>
  <element abstract="true" name="AbstractCityObject" substitutionGroup="core:AbstractFeatureWithLifespan" type="core:AbstractCityObjectType">
    <annotation>
      <documentation>SIG3D: Abstract super class of all thematic classes within CityGML data model.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractCityObjectType">
    <complexContent>
      <extension base="core:AbstractFeatureWithLifespanType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="externalReference" type="core:ExternalReferencePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="generalizesTo" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">core:AbstractCityObject</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="relativeToTerrain" type="core:RelativeToTerrainType">
            <annotation>
              <documentation>SIG3D: Vertical position of the 
AbstractCityObject relative to the surrounding terrain.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="relativeToWater" type="core:RelativeToWaterType">
            <annotation>
              <documentation>SIG3D: Vertical position of the AbstractCityObject relative to a surrounding water surface.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedTo" type="core:CityObjectRelationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="appearance">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="core:AbstractAppearance"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="genericAttribute" type="gen:AbstractGenericAttributePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dynamizer" type="core:AbstractDynamizerPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractCityObject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCityObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractCityObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractDynamizer" type="anyType"/>
  <element abstract="true" name="AbstractDynamizer" substitutionGroup="core:AbstractFeatureWithLifespan" type="core:AbstractDynamizerType"/>
  <complexType abstract="true" name="AbstractDynamizerType">
    <complexContent>
      <extension base="core:AbstractFeatureWithLifespanType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractDynamizer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDynamizerPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractDynamizer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractFeatureWithLifespan" type="anyType"/>
  <element abstract="true" name="AbstractFeatureWithLifespan" substitutionGroup="gml:AbstractFeature" type="core:AbstractFeatureWithLifespanType"/>
  <complexType abstract="true" name="AbstractFeatureWithLifespanType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="creationDate" type="dateTime"/>
          <element minOccurs="0" name="terminationDate" type="dateTime"/>
          <element minOccurs="0" name="validFrom" type="dateTime"/>
          <element minOccurs="0" name="validTo" type="dateTime"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractFeatureWithLifespan"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFeatureWithLifespanPropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractFeatureWithLifespan"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractLogicalSpace" type="anyType"/>
  <element abstract="true" name="AbstractLogicalSpace" substitutionGroup="core:AbstractSpace" type="core:AbstractLogicalSpaceType"/>
  <complexType abstract="true" name="AbstractLogicalSpaceType">
    <complexContent>
      <extension base="core:AbstractSpaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractLogicalSpace"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractLogicalSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractLogicalSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractOccupiedSpace" type="anyType"/>
  <element abstract="true" name="AbstractOccupiedSpace" substitutionGroup="core:AbstractPhysicalSpace" type="core:AbstractOccupiedSpaceType"/>
  <complexType abstract="true" name="AbstractOccupiedSpaceType">
    <complexContent>
      <extension base="core:AbstractPhysicalSpaceType">
        <sequence>
          <element minOccurs="0" name="lod1ImplicitRepresentation" type="core:ImplicitGeometryPropertyType">
            <annotation>
              <documentation>Relation to LOD1 implicit geometry of AbstractOccupiedSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2ImplicitRepresentation" type="core:ImplicitGeometryPropertyType">
            <annotation>
              <documentation>Relation to LOD2 implicit geometry of AbstractOccupiedSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3ImplicitRepresentation" type="core:ImplicitGeometryPropertyType">
            <annotation>
              <documentation>Relation to LOD3 implicit geometry of AbstractOccupiedSpace.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractOccupiedSpace"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractOccupiedSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractOccupiedSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractPhysicalSpace" type="anyType"/>
  <element abstract="true" name="AbstractPhysicalSpace" substitutionGroup="core:AbstractSpace" type="core:AbstractPhysicalSpaceType"/>
  <complexType abstract="true" name="AbstractPhysicalSpaceType">
    <complexContent>
      <extension base="core:AbstractSpaceType">
        <sequence>
          <element minOccurs="0" name="lod1TerrainIntersectionCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>SIG 3D: Relation to intersection curve(s) between an LOD1 AbstractPhysicalSpace and a terrain (LOD1 or LOD2 or LOD3).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2TerrainIntersectionCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>SIG 3D: Relation to intersection curve(s) between an LOD2 AbstractPhysicalSpace and a terrain (LOD1 or LOD2 or LOD3).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3TerrainIntersectionCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>SIG 3D: Relation to intersection curve(s) between an LOD3 AbstractPhysicalSpace and a terrain (LOD1 or LOD2 or LOD3).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="pointCloud" type="pcl:PointCloudPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractPhysicalSpace"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractPhysicalSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractPhysicalSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractSpace" type="anyType"/>
  <element abstract="true" name="AbstractSpace" substitutionGroup="core:AbstractCityObject" type="core:AbstractSpaceType"/>
  <complexType abstract="true" name="AbstractSpaceType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element minOccurs="0" name="spaceType" type="core:SpaceTypeType">
            <annotation>
              <documentation>Degree of openness of an abstract space.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="volume" type="core:QualifiedVolumePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="area" type="core:QualifiedAreaPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="boundary" type="core:AbstractThematicSurfacePropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">core:bounds</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="lod0Point" type="gml:PointPropertyType">
            <annotation>
              <documentation>Relation to a  LOD0 point geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod0MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD0 surface geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod1Solid" type="gml:SolidPropertyType">
            <annotation>
              <documentation>Relation to a  LOD1 solid geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2Solid" type="gml:SolidPropertyType">
            <annotation>
              <documentation>Relation to a  LOD2 solid geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD2 surface geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2MultiCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>Relation to a  LOD2 curve geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3Solid" type="gml:SolidPropertyType">
            <annotation>
              <documentation>Relation to a  LOD3 solid geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD3 surface geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3MultiCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>Relation to a  LOD3 curve geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractSpace"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractThematicSurface" type="anyType"/>
  <element abstract="true" name="AbstractThematicSurface" substitutionGroup="core:AbstractCityObject" type="core:AbstractThematicSurfaceType"/>
  <complexType abstract="true" name="AbstractThematicSurfaceType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="area" type="core:QualifiedAreaPropertyType"/>
          <element minOccurs="0" name="lod0MultiCurve" type="gml:MultiCurvePropertyType">
            <annotation>
              <documentation>Relation to a  LOD0 curve geometry of AbstractSpace.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod1MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD1 surface geometry of AbstractSpaceBoundary.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod2MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD2 surface geometry of AbstractSpaceBoundary.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lod3MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>Relation to a  LOD3 surface geometry of AbstractSpaceBoundary.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="bounds" type="core:AbstractSpacePropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">core:boundary</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="pointCloud" type="pcl:PointCloudPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractThematicSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractThematicSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractThematicSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractUnoccupiedSpace" type="anyType"/>
  <element abstract="true" name="AbstractUnoccupiedSpace" substitutionGroup="core:AbstractPhysicalSpace" type="core:AbstractUnoccupiedSpaceType"/>
  <complexType abstract="true" name="AbstractUnoccupiedSpaceType">
    <complexContent>
      <extension base="core:AbstractPhysicalSpaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAbstractUnoccupiedSpace"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractUnoccupiedSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:AbstractUnoccupiedSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAddress" type="anyType"/>
  <element name="Address" substitutionGroup="gml:AbstractFeature" type="core:AddressType">
    <annotation>
      <documentation>SIG3D: Proxy for the OASIS address schema</documentation>
    </annotation>
  </element>
  <complexType name="AddressType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="xalAddress">
            <annotation>
              <documentation>SIG3D: Relation to an OASIS address object.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="xAL:AddressDetails"/>
              </sequence>
            </complexType>
          </element>
          <element minOccurs="0" name="multiPoint" type="gml:MultiPointPropertyType">
            <annotation>
              <documentation>SIG3D: Spatial reference of the address, e. g. positions of building entrances.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfAddress"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AddressPropertyType">
    <sequence minOccurs="0">
      <element ref="core:Address"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfCityModel" type="anyType"/>
  <element name="CityModel" substitutionGroup="core:AbstractFeatureWithLifespan" type="core:CityModelType">
    <annotation>
      <documentation>SIG3D: Collection of CityObjects with optional metadata.</documentation>
    </annotation>
  </element>
  <complexType name="CityModelType">
    <complexContent>
      <extension base="core:AbstractFeatureWithLifespanType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="cityObjectMember">
            <annotation>
              <documentation>SIG3D: Relation of CityModel to AbstractTopLevelCityObject.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="core:AbstractCityObject"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="appearanceMember">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="core:AbstractAppearance"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="versionMember">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="vers:Version"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="versionTransitionMember">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="vers:VersionTransition"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="featureMember" type="gml:FeaturePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfCityModel"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CityModelPropertyType">
    <sequence minOccurs="0">
      <element ref="core:CityModel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CityObjectRelation" substitutionGroup="gml:AbstractGML" type="core:CityObjectRelationType"/>
  <complexType name="CityObjectRelationType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="relationType" type="gml:CodeType"/>
          <element name="relatedTo" type="core:AbstractCityObjectPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CityObjectRelationPropertyType">
    <sequence minOccurs="0">
      <element ref="core:CityObjectRelation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfClosureSurface" type="anyType"/>
  <element name="ClosureSurface" substitutionGroup="core:AbstractThematicSurface" type="core:ClosureSurfaceType"/>
  <complexType name="ClosureSurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="core:AbstractGenericApplicationPropertyOfClosureSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ClosureSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="core:ClosureSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="DoubleBetween0and1Type">
    <restriction base="double">
      <minInclusive value="0"/>
      <maxInclusive value="1"/>
    </restriction>
  </simpleType>
  <simpleType name="DoubleBetween0and1ListType">
    <list itemType="core:DoubleBetween0and1Type"/>
  </simpleType>
  <element name="ExternalReference" substitutionGroup="gml:AbstractObject" type="core:ExternalReferenceType">
    <annotation>
      <documentation>SIG3D: Reference to a corresponding object in another information system, for example in the German cadastre (ALKIS), the German topographic information system (ATKIS), or the OS UK MasterMap®.</documentation>
    </annotation>
  </element>
  <complexType name="ExternalReferenceType">
    <sequence>
      <element name="targetResource" type="anyURI">
        <annotation>
          <documentation>SIG3D: Referenced object in the external information system or data set.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="informationSystem" type="anyURI">
        <annotation>
          <documentation>SIG3D: URL or URN of the information system or data set.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="relationType" type="anyURI"/>
    </sequence>
  </complexType>
  <complexType name="ExternalReferencePropertyType">
    <sequence>
      <element ref="core:ExternalReference"/>
    </sequence>
  </complexType>
  <element name="ImplicitGeometry" substitutionGroup="gml:AbstractObject" type="core:ImplicitGeometryType">
    <annotation>
      <documentation>SIG3D: A  geometric representation where the shape is stored only once as a prototypical geometry, for example a tree or other vegetation object, a traffic light or a traffic sign. This prototypic geometry object can be re-used or referenced many times, wherever the corresponding feature occurs in the 3D city model.</documentation>
    </annotation>
  </element>
  <complexType name="ImplicitGeometryType">
    <sequence>
      <element name="transformationMatrix" type="core:TransformationMatrix4x4Type">
        <annotation>
          <documentation>SIG3D: Mathematical transformation (translation, rotation and scaling) between the prototype geometry and the actual spatial position of the object.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="mimeType" type="gml:CodeType">
        <annotation>
          <documentation>SIG3D: Mime type of the referenced external geometric object (attribute libraryObject).</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="libraryObject" type="anyURI">
        <annotation>
          <documentation>SIG3D: External link to a prototype geometry.</documentation>
        </annotation>
      </element>
      <element name="referencePoint" type="gml:PointPropertyType">
        <annotation>
          <documentation>SIG3D: Base point of the object in the world coordinate system.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="relativeGMLGeometry" type="gml:GeometryPropertyType">
        <annotation>
          <documentation>SIG3D: Geometry of the prototype, specified in a local coordinate system.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ImplicitGeometryPropertyType">
    <sequence>
      <element ref="core:ImplicitGeometry"/>
    </sequence>
  </complexType>
  <simpleType name="IntegerBetween0and3Type">
    <restriction base="integer">
      <minInclusive value="0"/>
      <maxInclusive value="3"/>
    </restriction>
  </simpleType>
  <element name="Occupancy" substitutionGroup="gml:AbstractObject" type="core:OccupancyType"/>
  <complexType name="OccupancyType">
    <sequence>
      <element name="numberOfOccupants" type="integer"/>
      <element minOccurs="0" name="interval" type="gml:CodeType"/>
      <element minOccurs="0" name="occupantType" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="OccupancyPropertyType">
    <sequence>
      <element ref="core:Occupancy"/>
    </sequence>
  </complexType>
  <element name="QualifiedArea" substitutionGroup="gml:AbstractObject" type="core:QualifiedAreaType"/>
  <complexType name="QualifiedAreaType">
    <sequence>
      <element name="area" type="gml:AreaType"/>
      <element name="typeOfArea" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="QualifiedAreaPropertyType">
    <sequence>
      <element ref="core:QualifiedArea"/>
    </sequence>
  </complexType>
  <element name="QualifiedVolume" substitutionGroup="gml:AbstractObject" type="core:QualifiedVolumeType"/>
  <complexType name="QualifiedVolumeType">
    <sequence>
      <element name="volume" type="gml:VolumeType"/>
      <element name="typeOfVolume" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="QualifiedVolumePropertyType">
    <sequence>
      <element ref="core:QualifiedVolume"/>
    </sequence>
  </complexType>
  <simpleType name="RelativeToTerrainType">
    <annotation>
      <documentation>SIG3D: Enumeration of the CityObject property relativeToTerrain.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="entirelyAboveTerrain">
        <annotation>
          <documentation>SIG3D: Object is located entirely above terrain.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyAboveTerrain">
        <annotation>
          <documentation>SIG3D:  Most, but not all parts of the object are located above terrain.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyAboveAndBelowTerrain">
        <annotation>
          <documentation>SIG3D: Parts of the object are located above terrain, and other parts below terrain.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyBelowTerrain">
        <annotation>
          <documentation>SIG3D: Most, but not all parts of the object are located below terrain.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="entirelyBelowTerrain">
        <annotation>
          <documentation>SIG3D: All parts of the object are located below terrain.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RelativeToWaterType">
    <annotation>
      <documentation>SIG3D: Enumeration of the CityObject property relativeToWater.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="entirelyAboveWaterSurface">
        <annotation>
          <documentation>SIG3D: Object is located entirely above water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyAboveWaterSurface">
        <annotation>
          <documentation>SIG3D: Most, but not all parts of the object are located above water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyAboveAndBelowWaterSurface">
        <annotation>
          <documentation>SIG3D: Parts of the object are located above water surface, and other parts below water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="substantiallyBelowWaterSurface">
        <annotation>
          <documentation>SIG3D: Most, but not all parts of the object are located below water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="entirelyBelowWaterSurface">
        <annotation>
          <documentation>SIG3D: All parts of the object are located below water surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="temporarilyAboveAndBelowWaterSurface">
        <annotation>
          <documentation>SIG3D: The height of the water surface is varying and the object temporily is located above or below water level.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpaceTypeType">
    <restriction base="string">
      <enumeration value="closed">
        <annotation>
          <documentation>boundaries at all sides</documentation>
        </annotation>
      </enumeration>
      <enumeration value="open">
        <annotation>
          <documentation>boundary at the bottom only</documentation>
        </annotation>
      </enumeration>
      <enumeration value="semiOpen">
        <annotation>
          <documentation>at least one side has a boundary</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TransformationMatrix2x2Type">
    <annotation>
      <documentation>SIG3D: 2x2 Transformation matrix (z-rotation and scaling)</documentation>
    </annotation>
    <restriction base="gml:doubleList">
      <length value="4"/>
    </restriction>
  </simpleType>
  <simpleType name="TransformationMatrix3x4Type">
    <annotation>
      <documentation>SIG3D: 3x4 transformation matrix, (arbitrary rotation and scaling and translation).</documentation>
    </annotation>
    <restriction base="gml:doubleList">
      <length value="12"/>
    </restriction>
  </simpleType>
  <simpleType name="TransformationMatrix4x4Type">
    <annotation>
      <documentation>SIG3D: Transformation matrix with 4 rows and columns, used for simultaneously specifying translation, rotation and scaling.</documentation>
    </annotation>
    <restriction base="gml:doubleList">
      <length value="16"/>
    </restriction>
  </simpleType>
</schema>
