src/main/resources/org/citygml4j/schemas/citygml/3.0/construction.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.opengis.net/citygml/construction/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/construction/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="../../gml/3.3/extdEncRule.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractConstruction" type="anyType"/>
  <element abstract="true" name="AbstractConstruction" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractConstructionType">
    <annotation>
      <documentation>An object, manufactured by humans from construction materials, which is connected to earth and intended to be permanent. A connection with the ground also exists when the construction rests by its own weight on the ground or is moveable limited on stationary rails or if the construction  is intended to be used mainly stationary.
Note: Everything that is covered by other CityGML modules, e.g. Transportation or Water body, is not an 
AbstractConstruction. E.g. a road or canal is man made, but not an AbstractConstruction.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractConstructionType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="conditionOfConstruction" type="con:ConditionOfConstructionValueType">
            <annotation>
              <documentation>[INSPIRE] Status of the construction.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfConstruction" type="date">
            <annotation>
              <documentation>Date of completion of a construction.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfDemolition" type="date">
            <annotation>
              <documentation>Date of demolition of a construction.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="constructionEvent" type="con:ConstructionEventPropertyType">
            <annotation>
              <documentation>Date of renovation of a construction.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="elevation" type="con:ElevationPropertyType">
            <annotation>
              <documentation>[INSPIRE] Vertically-constrained dimensional property consisting of an absolute measure referenced to a well-defined surface which is commonly taken as origin (geoïd, water level, etc.).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="height" type="con:HeightPropertyType">
            <annotation>
              <documentation>[INSPIRE] Height above ground.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="occupancy" type="core:OccupancyPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="constructionSurface" type="con:AbstractConstructionSurfacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractConstruction"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractConstructionSurface" type="anyType"/>
  <element abstract="true" name="AbstractConstructionSurface" substitutionGroup="core:AbstractThematicSurface" type="con:AbstractConstructionSurfaceType"/>
  <complexType abstract="true" name="AbstractConstructionSurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="fillingSurface" type="con:AbstractFillingSurfacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="closureSurface" type="core:ClosureSurfacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractConstructionSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractConstructionSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractConstructionSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractConstructiveElement" type="anyType"/>
  <element abstract="true" name="AbstractConstructiveElement" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractConstructiveElementType"/>
  <complexType abstract="true" name="AbstractConstructiveElementType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="isStructuralElement" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="filling" type="con:AbstractFillingElementPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractConstructiveElement"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractConstructiveElementPropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractConstructiveElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractFillingElement" type="anyType"/>
  <element abstract="true" name="AbstractFillingElement" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractFillingElementType"/>
  <complexType abstract="true" name="AbstractFillingElementType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractFillingElement"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFillingElementPropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractFillingElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractFillingSurface" type="anyType"/>
  <element abstract="true" name="AbstractFillingSurface" substitutionGroup="core:AbstractThematicSurface" type="con:AbstractFillingSurfaceType"/>
  <complexType abstract="true" name="AbstractFillingSurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractFillingSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFillingSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractFillingSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractFurniture" type="anyType"/>
  <element abstract="true" name="AbstractFurniture" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractFurnitureType"/>
  <complexType abstract="true" name="AbstractFurnitureType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractFurniture"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFurniturePropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractFurniture"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractInstallation" type="anyType"/>
  <element abstract="true" name="AbstractInstallation" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractInstallationType"/>
  <complexType abstract="true" name="AbstractInstallationType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="relationToConstruction" type="con:RelationToConstructionType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractInstallation"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractInstallationPropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractInstallation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfCeilingSurface" type="anyType"/>
  <element name="CeilingSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:CeilingSurfaceType">
    <annotation>
      <documentation>SIG3D: Overhead boundary surface of a construction space, covering the upper limit of the construction space.</documentation>
    </annotation>
  </element>
  <complexType name="CeilingSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfCeilingSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CeilingSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:CeilingSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ConditionOfConstructionValueType">
    <annotation>
      <documentation>[INSPIRE] Values indicating the condition of a construction.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="declined">
        <annotation>
          <documentation>[INSPIRE] The construction cannot be used under normal conditions, though its main elements (walls, roof) are still present.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="demolished">
        <annotation>
          <documentation>[INSPIRE] The construction has been demolished. There are no more visible remains.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="functional">
        <annotation>
          <documentation>[INSPIRE] The construction is functional.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="projected">
        <annotation>
          <documentation>[INSPIRE] The construction is being designed. Construction has not yet started.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ruin">
        <annotation>
          <documentation>[INSPIRE] The construction has been partly demolished and some main elements (roof, walls) have been destroyed. There are some visible remains of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underConstruction">
        <annotation>
          <documentation>[INSPIRE] The construction is under construction and not yet functional. This applies only to the initial construction of the construction and not to maintenance work.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ConstructionEvent" substitutionGroup="gml:AbstractObject" type="con:ConstructionEventType"/>
  <complexType name="ConstructionEventType">
    <sequence>
      <element name="event" type="gml:ReferenceType">
        <annotation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">EventValue</targetCodeList>
          </appinfo>
        </annotation>
      </element>
      <element name="dateOfEvent" type="date"/>
      <element minOccurs="0" name="description" type="string"/>
    </sequence>
  </complexType>
  <complexType name="ConstructionEventPropertyType">
    <sequence>
      <element ref="con:ConstructionEvent"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfDoor" type="anyType"/>
  <element name="Door" substitutionGroup="con:AbstractFillingElement" type="con:DoorType">
    <annotation>
      <documentation>ISO 6707-1: Construction for closing an opening intended primarily for access or egress or both.</documentation>
    </annotation>
  </element>
  <complexType name="DoorType">
    <complexContent>
      <extension base="con:AbstractFillingElementType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="doorSurface" type="con:DoorSurfacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType">
            <annotation>
              <documentation>SIG3D: Relation between Door and Address.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfDoor"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DoorPropertyType">
    <sequence minOccurs="0">
      <element ref="con:Door"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfDoorSurface" type="anyType"/>
  <element name="DoorSurface" substitutionGroup="con:AbstractFillingSurface" type="con:DoorSurfaceType"/>
  <complexType name="DoorSurfaceType">
    <complexContent>
      <extension base="con:AbstractFillingSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfDoorSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DoorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:DoorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Elevation" substitutionGroup="gml:AbstractObject" type="con:ElevationType">
    <annotation>
      <documentation>[INSPIRE] This data types includes the elevation value itself and information on how this elevation was measured.</documentation>
    </annotation>
  </element>
  <complexType name="ElevationType">
    <sequence>
      <element name="elevationReference" type="con:ElevationReferenceValueType">
        <annotation>
          <documentation>[INSPIRE] Element where the elevation was measured.</documentation>
        </annotation>
      </element>
      <element name="elevationValue" type="gml:DirectPositionType">
        <annotation>
          <documentation>[INSPIRE] Value of the elevation.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ElevationPropertyType">
    <sequence>
      <element ref="con:Elevation"/>
    </sequence>
  </complexType>
  <simpleType name="ElevationReferenceValueType">
    <annotation>
      <documentation>[INSPIRE] List of possible elements considered to capture a vertical geometry.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="aboveGroundEnvelope">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the level of the maximum extent of the above ground envelope of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bottomOfConstruction">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the bottom of the usable part of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="entrancePoint">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the entrance of the construction, generally the bottom of entrance door.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalEave">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at eave level, anywhere between the lowest and the highest eave levels of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalGround">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at ground level, anywhere between the lowest and the highest ground points of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalRoof">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at roof level, anywhere between the lowest edge roof level and the top of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalRoofEdge">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at roof edge level, anywhere between the lowest and the highest roof edges of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestEave">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the highest eave level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestGroundPoint">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the highest ground point of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestPoint">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the highest point of the construction, including the installations, such as chimneys and antennas.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestRoofEdge">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the highest roof edge level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestEave">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the lowest eave level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestFloorAboveGround">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the level of the lowest floor above ground.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestGroundPoint">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the lowest ground point level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestRoofEdge">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the lowest roof edge level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="topOfConstruction">
        <annotation>
          <documentation>[INSPIRE] The elevation has been captured at the top level of the construction.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfFloorSurface" type="anyType"/>
  <element name="FloorSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:FloorSurfaceType">
    <annotation>
      <documentation>SIG3D: Lower boundary surface of a construction space, covering the lower limit of a construction space.</documentation>
    </annotation>
  </element>
  <complexType name="FloorSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfFloorSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FloorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:FloorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfGroundSurface" type="anyType"/>
  <element name="GroundSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:GroundSurfaceType">
    <annotation>
      <documentation>SIG3D: Exterior, lower boundary surface of a construction space bounded by soil or water.</documentation>
    </annotation>
  </element>
  <complexType name="GroundSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfGroundSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GroundSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:GroundSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Height" substitutionGroup="gml:AbstractObject" type="con:HeightType">
    <annotation>
      <documentation>[INSPIRE] Vertical distance (measured or estimated) between a low reference and a high reference.</documentation>
    </annotation>
  </element>
  <complexType name="HeightType">
    <sequence>
      <element name="highReference" type="con:ElevationReferenceValueType">
        <annotation>
          <documentation>[INSPIRE] Element used as the high reference.</documentation>
        </annotation>
      </element>
      <element name="lowReference" type="con:ElevationReferenceValueType">
        <annotation>
          <documentation>[INSPIRE] Element as the low reference.</documentation>
        </annotation>
      </element>
      <element name="status" type="con:HeightStatusValueType">
        <annotation>
          <documentation>[INSPIRE] The way the height has been captured.</documentation>
        </annotation>
      </element>
      <element name="value" type="gml:LengthType">
        <annotation>
          <documentation>[INSPIRE] Value of the height above ground.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="HeightPropertyType">
    <sequence>
      <element ref="con:Height"/>
    </sequence>
  </complexType>
  <simpleType name="HeightStatusValueType">
    <annotation>
      <documentation>[INSPIRE] Values indicating the method used to capture a height.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="estimated">
        <annotation>
          <documentation>[INSPIRE] The height has been estimated and not measured.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="measured">
        <annotation>
          <documentation>[INSPIRE] The height has been (directly or indirectly) measured.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfInteriorWallSurface" type="anyType"/>
  <element name="InteriorWallSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:InteriorWallSurfaceType">
    <annotation>
      <documentation>SIG3D: Lateral boundary surface of a construction space, covering the lateral limit of the construction space.</documentation>
    </annotation>
  </element>
  <complexType name="InteriorWallSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfInteriorWallSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InteriorWallSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:InteriorWallSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfOtherConstruction" type="anyType"/>
  <element name="OtherConstruction" substitutionGroup="con:AbstractConstruction" type="con:OtherConstructionType">
    <annotation>
      <documentation>Every construction which is not covered by any of the other subclasses of AbstractConstruction.</documentation>
    </annotation>
  </element>
  <complexType name="OtherConstructionType">
    <complexContent>
      <extension base="con:AbstractConstructionType">
        <sequence>
          <element name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfOtherConstruction"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="con:OtherConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfOuterCeilingSurface" type="anyType"/>
  <element name="OuterCeilingSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:OuterCeilingSurfaceType">
    <annotation>
      <documentation>SIG3D: Exterior, lower boundary surface of a construction space bounded by air.</documentation>
    </annotation>
  </element>
  <complexType name="OuterCeilingSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfOuterCeilingSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OuterCeilingSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:OuterCeilingSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfOuterFloorSurface" type="anyType"/>
  <element name="OuterFloorSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:OuterFloorSurfaceType">
    <annotation>
      <documentation>SIG3D: Exterior, upper boundary surface of a construction space which is not a roof.</documentation>
    </annotation>
  </element>
  <complexType name="OuterFloorSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfOuterFloorSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OuterFloorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:OuterFloorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RelationToConstructionType">
    <restriction base="string">
      <enumeration value="inside"/>
      <enumeration value="outside"/>
      <enumeration value="bothInsideAndOutside"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfRoofSurface" type="anyType"/>
  <element name="RoofSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:RoofSurfaceType">
    <annotation>
      <documentation>SIG3D: Exterior, upper boundary surface of a construction space, whose primary function is to protect from the effects of weather.</documentation>
    </annotation>
  </element>
  <complexType name="RoofSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfRoofSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoofSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:RoofSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWallSurface" type="anyType"/>
  <element name="WallSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:WallSurfaceType">
    <annotation>
      <documentation>SIG3D: Exterior, lateral boundary surface of a construction space.</documentation>
    </annotation>
  </element>
  <complexType name="WallSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfWallSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WallSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:WallSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWindow" type="anyType"/>
  <element name="Window" substitutionGroup="con:AbstractFillingElement" type="con:WindowType">
    <annotation>
      <documentation>SIG3D: Construction for closing an opening in a wall or roof, primarily intended to admit light and/or provide ventilation (cf. ISO 6707).</documentation>
    </annotation>
  </element>
  <complexType name="WindowType">
    <complexContent>
      <extension base="con:AbstractFillingElementType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="windowSurface" type="con:WindowSurfacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfWindow"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WindowPropertyType">
    <sequence minOccurs="0">
      <element ref="con:Window"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWindowSurface" type="anyType"/>
  <element name="WindowSurface" substitutionGroup="con:AbstractFillingSurface" type="con:WindowSurfaceType"/>
  <complexType name="WindowSurfaceType">
    <complexContent>
      <extension base="con:AbstractFillingSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfWindowSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WindowSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:WindowSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
