src/main/resources/org/citygml4j/schemas/citygml/3.0/construction.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.opengis.net/citygml/construction/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/construction/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractConstruction" type="anyType"/>
  <element abstract="true" name="AbstractConstruction" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractConstructionType">
    <annotation>
      <documentation>AbstractConstruction is the abstract superclass for objects that are manufactured by humans from construction materials, are connected to earth and are intended to be permanent. A connection with the ground also exists when the construction rests by its own weight on the ground or is moveable limited on stationary rails or if the construction  is intended to be used mainly stationary.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractConstructionType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="conditionOfConstruction" type="con:ConditionOfConstructionValueType">
            <annotation>
              <documentation>[INSPIRE] Status of the construction.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfConstruction" type="date">
            <annotation>
              <documentation>Date of completion of a construction.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dateOfDemolition" type="date">
            <annotation>
              <documentation>Date of demolition of a construction.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="constructionEvent" type="con:ConstructionEventPropertyType">
            <annotation>
              <documentation>Date of renovation of a construction.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="elevation" type="con:ElevationPropertyType">
            <annotation>
              <documentation>[INSPIRE] Vertically-constrained dimensional property consisting of an absolute measure referenced to a well-defined surface which is commonly taken as origin (geoïd, water level, etc.).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="height" type="con:HeightPropertyType">
            <annotation>
              <documentation>[INSPIRE] Height above ground.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="occupancy" type="core:OccupancyPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractConstruction"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractConstructionSurface" type="anyType"/>
  <element abstract="true" name="AbstractConstructionSurface" substitutionGroup="core:AbstractThematicSurface" type="con:AbstractConstructionSurfaceType">
    <annotation>
      <documentation>AbstractConstructionSurface is the abstract superclass for different kinds of surfaces that bound a construction.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractConstructionSurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="fillingSurface" type="con:AbstractFillingSurfacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractConstructionSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractConstructionSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractConstructionSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractConstructiveElement" type="anyType"/>
  <element abstract="true" name="AbstractConstructiveElement" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractConstructiveElementType">
    <annotation>
      <documentation>AbstractConstructiveElement is the abstract superclass for the representation of volumetric elements of a construction. Examples are walls, beams, slabs.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractConstructiveElementType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="isStructuralElement" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="filling" type="con:AbstractFillingElementPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractConstructiveElement"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractConstructiveElementPropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractConstructiveElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractFillingElement" type="anyType"/>
  <element abstract="true" name="AbstractFillingElement" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractFillingElementType">
    <annotation>
      <documentation>AbstractFillingElement is the abstract superclass for different kinds of elements that fill the openings of constructive elements.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractFillingElementType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractFillingElement"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFillingElementPropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractFillingElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractFillingSurface" type="anyType"/>
  <element abstract="true" name="AbstractFillingSurface" substitutionGroup="core:AbstractThematicSurface" type="con:AbstractFillingSurfaceType">
    <annotation>
      <documentation>AbstractFillingSurface is the abstract superclass for different kinds of surfaces that seal openings filled by filling elements.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractFillingSurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractFillingSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFillingSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractFillingSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractFurniture" type="anyType"/>
  <element abstract="true" name="AbstractFurniture" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractFurnitureType">
    <annotation>
      <documentation>AbstractFurniture is the abstract superclass for the representation of furniture objects of a construction.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractFurnitureType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractFurniture"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractFurniturePropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractFurniture"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractInstallation" type="anyType"/>
  <element abstract="true" name="AbstractInstallation" substitutionGroup="core:AbstractOccupiedSpace" type="con:AbstractInstallationType">
    <annotation>
      <documentation>AbstractInstallation is the abstract superclass for the representation of installation objects of a construction.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractInstallationType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="relationToConstruction" type="con:RelationToConstructionType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfAbstractInstallation"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractInstallationPropertyType">
    <sequence minOccurs="0">
      <element ref="con:AbstractInstallation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfCeilingSurface" type="anyType"/>
  <element name="CeilingSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:CeilingSurfaceType">
    <annotation>
      <documentation>A CeilingSurface is a surface that represents the interior ceiling of a construction. An example is the ceiling of a room.</documentation>
    </annotation>
  </element>
  <complexType name="CeilingSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfCeilingSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CeilingSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:CeilingSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ConditionOfConstructionValueType">
    <annotation>
      <documentation>ConditionOfConstructionValue enumerates different conditions of a construction. [cf. INSPIRE]</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="declined">
        <annotation>
          <documentation>[INSPIRE] The construction cannot be used under normal conditions, though its main elements (walls, roof) are still present.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="demolished">
        <annotation>
          <documentation>[INSPIRE] The construction has been demolished. There are no more visible remains.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="functional">
        <annotation>
          <documentation>[INSPIRE] The construction is functional.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="projected">
        <annotation>
          <documentation>[INSPIRE] The construction is being designed. Construction has not yet started.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ruin">
        <annotation>
          <documentation>[INSPIRE] The construction has been partly demolished and some main elements (roof, walls) have been destroyed. There are some visible remains of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underConstruction">
        <annotation>
          <documentation>[INSPIRE] The construction is under construction and not yet functional. This applies only to the initial construction of the construction and not to maintenance work.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ConstructionEvent" substitutionGroup="gml:AbstractObject" type="con:ConstructionEventType">
    <annotation>
      <documentation>A ConstructionEvent is a data type used to describe a specific event that is associated with a construction. Examples are the issuing of a building permit or the renovation of a building.</documentation>
    </annotation>
  </element>
  <complexType name="ConstructionEventType">
    <sequence>
      <element name="event" type="gml:CodeType"/>
      <element name="dateOfEvent" type="date"/>
      <element minOccurs="0" name="description" type="string"/>
    </sequence>
  </complexType>
  <complexType name="ConstructionEventPropertyType">
    <sequence>
      <element ref="con:ConstructionEvent"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfDoor" type="anyType"/>
  <element name="Door" substitutionGroup="con:AbstractFillingElement" type="con:DoorType">
    <annotation>
      <documentation>A Door is a construction for closing an opening intended primarily for access or egress or both. [cf. ISO 6707-1]</documentation>
    </annotation>
  </element>
  <complexType name="DoorType">
    <complexContent>
      <extension base="con:AbstractFillingElementType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType">
            <annotation>
              <documentation>SIG3D: Relation between Door and Address.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfDoor"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DoorPropertyType">
    <sequence minOccurs="0">
      <element ref="con:Door"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfDoorSurface" type="anyType"/>
  <element name="DoorSurface" substitutionGroup="con:AbstractFillingSurface" type="con:DoorSurfaceType">
    <annotation>
      <documentation>A DoorSurface is either a boundary surface of a Door feature or a surface that seals an opening filled by a door.</documentation>
    </annotation>
  </element>
  <complexType name="DoorSurfaceType">
    <complexContent>
      <extension base="con:AbstractFillingSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfDoorSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DoorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:DoorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Elevation" substitutionGroup="gml:AbstractObject" type="con:ElevationType">
    <annotation>
      <documentation>Elevation is a data type that includes the elevation value itself and information on how this elevation was measured. [cf. INSPIRE]</documentation>
    </annotation>
  </element>
  <complexType name="ElevationType">
    <sequence>
      <element name="elevationReference" type="gml:CodeType">
        <annotation>
          <documentation>[INSPIRE] Element where the elevation was measured.</documentation>
        </annotation>
      </element>
      <element name="elevationValue" type="gml:DirectPositionType">
        <annotation>
          <documentation>[INSPIRE] Value of the elevation.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ElevationPropertyType">
    <sequence>
      <element ref="con:Elevation"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfFloorSurface" type="anyType"/>
  <element name="FloorSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:FloorSurfaceType">
    <annotation>
      <documentation>A FloorSurface is surface that represents the interior floor of a construction. An example is the floor of a room.</documentation>
    </annotation>
  </element>
  <complexType name="FloorSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfFloorSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FloorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:FloorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfGroundSurface" type="anyType"/>
  <element name="GroundSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:GroundSurfaceType">
    <annotation>
      <documentation>A GroundSurface is a surface that represents the ground plate of a construction. The polygon defining the ground plate is congruent with the footprint of the construction.</documentation>
    </annotation>
  </element>
  <complexType name="GroundSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfGroundSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GroundSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:GroundSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Height" substitutionGroup="gml:AbstractObject" type="con:HeightType">
    <annotation>
      <documentation>Height represents a vertical distance (measured or estimated) between a low reference and a high reference. [cf. INSPIRE]</documentation>
    </annotation>
  </element>
  <complexType name="HeightType">
    <sequence>
      <element name="highReference" type="gml:CodeType">
        <annotation>
          <documentation>[INSPIRE] Element used as the high reference.</documentation>
        </annotation>
      </element>
      <element name="lowReference" type="gml:CodeType">
        <annotation>
          <documentation>[INSPIRE] Element as the low reference.</documentation>
        </annotation>
      </element>
      <element name="status" type="con:HeightStatusValueType">
        <annotation>
          <documentation>[INSPIRE] The way the height has been captured.</documentation>
        </annotation>
      </element>
      <element name="value" type="gml:LengthType">
        <annotation>
          <documentation>[INSPIRE] Value of the height above ground.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="HeightPropertyType">
    <sequence>
      <element ref="con:Height"/>
    </sequence>
  </complexType>
  <simpleType name="HeightStatusValueType">
    <annotation>
      <documentation>HeightStatusValue enumerates the different methods used to capture a height. [cf. INSPIRE]</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="estimated">
        <annotation>
          <documentation>[INSPIRE] The height has been estimated and not measured.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="measured">
        <annotation>
          <documentation>[INSPIRE] The height has been (directly or indirectly) measured.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfInteriorWallSurface" type="anyType"/>
  <element name="InteriorWallSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:InteriorWallSurfaceType">
    <annotation>
      <documentation>An InteriorWallSurface is a surface that is visible from inside a construction. An example is the wall of a room.</documentation>
    </annotation>
  </element>
  <complexType name="InteriorWallSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfInteriorWallSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InteriorWallSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:InteriorWallSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfOtherConstruction" type="anyType"/>
  <element name="OtherConstruction" substitutionGroup="con:AbstractConstruction" type="con:OtherConstructionType">
    <annotation>
      <documentation>An OtherConstruction is a construction that is not covered by any of the other subclasses of AbstractConstruction.</documentation>
    </annotation>
  </element>
  <complexType name="OtherConstructionType">
    <complexContent>
      <extension base="con:AbstractConstructionType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfOtherConstruction"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="con:OtherConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfOuterCeilingSurface" type="anyType"/>
  <element name="OuterCeilingSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:OuterCeilingSurfaceType">
    <annotation>
      <documentation>An OuterCeilingSurface is a surface that belongs to the outer building shell with the orientation pointing downwards. An example is the ceiling of a loggia.</documentation>
    </annotation>
  </element>
  <complexType name="OuterCeilingSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfOuterCeilingSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OuterCeilingSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:OuterCeilingSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfOuterFloorSurface" type="anyType"/>
  <element name="OuterFloorSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:OuterFloorSurfaceType">
    <annotation>
      <documentation>An OuterFloorSurface is a surface that belongs to the outer construction shell with the orientation pointing upwards. An example is the floor of a loggia.</documentation>
    </annotation>
  </element>
  <complexType name="OuterFloorSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfOuterFloorSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OuterFloorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:OuterFloorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RelationToConstructionType">
    <annotation>
      <documentation>RelationToConstruction is an enumeration used to describe whether an installation is positioned inside and/or outside of a construction.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="inside"/>
      <enumeration value="outside"/>
      <enumeration value="bothInsideAndOutside"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfRoofSurface" type="anyType"/>
  <element name="RoofSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:RoofSurfaceType">
    <annotation>
      <documentation>A RoofSurface is a surface that delimits major roof parts of a construction.</documentation>
    </annotation>
  </element>
  <complexType name="RoofSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfRoofSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoofSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:RoofSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWallSurface" type="anyType"/>
  <element name="WallSurface" substitutionGroup="con:AbstractConstructionSurface" type="con:WallSurfaceType">
    <annotation>
      <documentation>A WallSurface is a surface that is part of the building facade visible from the outside.</documentation>
    </annotation>
  </element>
  <complexType name="WallSurfaceType">
    <complexContent>
      <extension base="con:AbstractConstructionSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfWallSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WallSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:WallSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWindow" type="anyType"/>
  <element name="Window" substitutionGroup="con:AbstractFillingElement" type="con:WindowType">
    <annotation>
      <documentation>A Window is a construction for closing an opening in a wall  or roof, primarily intended to admit light and/or provide ventilation. [cf. ISO  6707-1]</documentation>
    </annotation>
  </element>
  <complexType name="WindowType">
    <complexContent>
      <extension base="con:AbstractFillingElementType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfWindow"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WindowPropertyType">
    <sequence minOccurs="0">
      <element ref="con:Window"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWindowSurface" type="anyType"/>
  <element name="WindowSurface" substitutionGroup="con:AbstractFillingSurface" type="con:WindowSurfaceType">
    <annotation>
      <documentation>A WindowSurface is either a boundary surface of a Window feature or a surface that seals an opening filled by a window.</documentation>
    </annotation>
  </element>
  <complexType name="WindowSurfaceType">
    <complexContent>
      <extension base="con:AbstractFillingSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="con:AbstractGenericApplicationPropertyOfWindowSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WindowSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="con:WindowSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
