src/main/resources/org/citygml4j/schemas/citygml/3.0/dynamizer.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:dyn="http://www.opengis.net/citygml/dynamizer/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/dynamizer/3.0" version="3.0.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractAtomicTimeseries" type="anyType"/>
  <element abstract="true" name="AbstractAtomicTimeseries" substitutionGroup="dyn:AbstractTimeseries" type="dyn:AbstractAtomicTimeseriesType"/>
  <complexType abstract="true" name="AbstractAtomicTimeseriesType">
    <complexContent>
      <extension base="dyn:AbstractTimeseriesType">
        <sequence>
          <element name="observationProperty" type="string"/>
          <element minOccurs="0" name="uom" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="dyn:AbstractGenericApplicationPropertyOfAbstractAtomicTimeseries"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractAtomicTimeseriesPropertyType">
    <sequence minOccurs="0">
      <element ref="dyn:AbstractAtomicTimeseries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractTimeseries" type="anyType"/>
  <element abstract="true" name="AbstractTimeseries" substitutionGroup="gml:AbstractFeature" type="dyn:AbstractTimeseriesType"/>
  <complexType abstract="true" name="AbstractTimeseriesType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="firstTimestamp" type="gml:TimePositionType"/>
          <element minOccurs="0" name="lastTimestamp" type="gml:TimePositionType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="dyn:AbstractGenericApplicationPropertyOfAbstractTimeseries"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractTimeseriesPropertyType">
    <sequence minOccurs="0">
      <element ref="dyn:AbstractTimeseries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfCompositeTimeseries" type="anyType"/>
  <element name="CompositeTimeseries" substitutionGroup="dyn:AbstractTimeseries" type="dyn:CompositeTimeseriesType"/>
  <complexType name="CompositeTimeseriesType">
    <complexContent>
      <extension base="dyn:AbstractTimeseriesType">
        <sequence>
          <element maxOccurs="unbounded" name="component" type="dyn:TimeseriesComponentPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="dyn:AbstractGenericApplicationPropertyOfCompositeTimeseries"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CompositeTimeseriesPropertyType">
    <sequence minOccurs="0">
      <element ref="dyn:CompositeTimeseries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfDynamizer" type="anyType"/>
  <element name="Dynamizer" substitutionGroup="core:AbstractDynamizer" type="dyn:DynamizerType"/>
  <complexType name="DynamizerType">
    <complexContent>
      <extension base="core:AbstractDynamizerType">
        <sequence>
          <element name="attributeRef" type="string"/>
          <element minOccurs="0" name="startTime" type="gml:TimePositionType"/>
          <element minOccurs="0" name="endTime" type="gml:TimePositionType"/>
          <element minOccurs="0" name="dynamicData">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="dyn:AbstractTimeseries"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="sensorConnection" type="dyn:SensorConnectionPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="dyn:AbstractGenericApplicationPropertyOfDynamizer"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DynamizerPropertyType">
    <sequence minOccurs="0">
      <element ref="dyn:Dynamizer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfGenericTimeseries" type="anyType"/>
  <element name="GenericTimeseries" substitutionGroup="dyn:AbstractAtomicTimeseries" type="dyn:GenericTimeseriesType"/>
  <complexType name="GenericTimeseriesType">
    <complexContent>
      <extension base="dyn:AbstractAtomicTimeseriesType">
        <sequence>
          <element name="valueType" type="dyn:TimeseriesValueType"/>
          <element maxOccurs="unbounded" name="timeValuePair" type="dyn:TimeValuePairPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="dyn:AbstractGenericApplicationPropertyOfGenericTimeseries"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GenericTimeseriesPropertyType">
    <sequence minOccurs="0">
      <element ref="dyn:GenericTimeseries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SensorConnection" substitutionGroup="gml:AbstractObject" type="dyn:SensorConnectionType"/>
  <complexType name="SensorConnectionType">
    <sequence>
      <element name="connectionType" type="gml:CodeType"/>
      <element name="observationProperty" type="string"/>
      <element minOccurs="0" name="uom" type="string"/>
      <element minOccurs="0" name="sensorID" type="string"/>
      <element minOccurs="0" name="sensorName" type="string"/>
      <element minOccurs="0" name="observationID" type="string"/>
      <element minOccurs="0" name="datastreamID" type="string"/>
      <element minOccurs="0" name="baseURL" type="anyURI"/>
      <element minOccurs="0" name="authType" type="gml:CodeType"/>
      <element minOccurs="0" name="mqttServer" type="string"/>
      <element minOccurs="0" name="mqttTopic" type="string"/>
      <element minOccurs="0" name="linkToObservation" type="string"/>
      <element minOccurs="0" name="linkToSensorDescription" type="string"/>
      <element minOccurs="0" name="sensorLocation" type="core:AbstractCityObjectPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="SensorConnectionPropertyType">
    <sequence>
      <element ref="dyn:SensorConnection"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfStandardFileTimeseries" type="anyType"/>
  <element name="StandardFileTimeseries" substitutionGroup="dyn:AbstractAtomicTimeseries" type="dyn:StandardFileTimeseriesType"/>
  <complexType name="StandardFileTimeseriesType">
    <complexContent>
      <extension base="dyn:AbstractAtomicTimeseriesType">
        <sequence>
          <element name="fileLocation" type="anyURI"/>
          <element name="fileType" type="gml:CodeType"/>
          <element minOccurs="0" name="mimeType" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="dyn:AbstractGenericApplicationPropertyOfStandardFileTimeseries"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardFileTimeseriesPropertyType">
    <sequence minOccurs="0">
      <element ref="dyn:StandardFileTimeseries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfTabulatedFileTimeseries" type="anyType"/>
  <element name="TabulatedFileTimeseries" substitutionGroup="dyn:AbstractAtomicTimeseries" type="dyn:TabulatedFileTimeseriesType"/>
  <complexType name="TabulatedFileTimeseriesType">
    <complexContent>
      <extension base="dyn:AbstractAtomicTimeseriesType">
        <sequence>
          <element name="fileLocation" type="anyURI"/>
          <element name="fileType" type="gml:CodeType"/>
          <element minOccurs="0" name="mimeType" type="gml:CodeType"/>
          <element name="valueType" type="dyn:TimeseriesValueType"/>
          <element minOccurs="0" name="numberOfHeaderLines" type="integer"/>
          <element name="fieldSeparator" type="string"/>
          <element minOccurs="0" name="decimalSymbol" type="string"/>
          <element minOccurs="0" name="idColumnNo" type="integer"/>
          <element minOccurs="0" name="idColumnName" type="string"/>
          <element minOccurs="0" name="idValue" type="string"/>
          <element minOccurs="0" name="timeColumnNo" type="integer"/>
          <element minOccurs="0" name="timeColumnName" type="string"/>
          <element minOccurs="0" name="valueColumnNo" type="integer"/>
          <element minOccurs="0" name="valueColumnName" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="dyn:AbstractGenericApplicationPropertyOfTabulatedFileTimeseries"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TabulatedFileTimeseriesPropertyType">
    <sequence minOccurs="0">
      <element ref="dyn:TabulatedFileTimeseries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TimeValuePair" substitutionGroup="gml:AbstractObject" type="dyn:TimeValuePairType"/>
  <complexType name="TimeValuePairType">
    <sequence>
      <element name="timestamp" type="gml:TimePositionType"/>
      <element minOccurs="0" name="intValue" type="integer"/>
      <element minOccurs="0" name="doubleValue" type="double"/>
      <element minOccurs="0" name="stringValue" type="string"/>
      <element minOccurs="0" name="geometryValue" type="gml:GeometryPropertyType"/>
      <element minOccurs="0" name="uriValue" type="anyURI"/>
      <element minOccurs="0" name="boolValue" type="boolean"/>
      <element minOccurs="0" name="implicitGeometryValue">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="core:ImplicitGeometry"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element minOccurs="0" name="appearanceValue">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="core:AbstractAppearance"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="TimeValuePairPropertyType">
    <sequence>
      <element ref="dyn:TimeValuePair"/>
    </sequence>
  </complexType>
  <element name="TimeseriesComponent" substitutionGroup="gml:AbstractObject" type="dyn:TimeseriesComponentType"/>
  <complexType name="TimeseriesComponentType">
    <sequence>
      <element name="repetitions" type="integer"/>
      <element minOccurs="0" name="additionalGap" type="duration"/>
      <element name="timeseries" type="dyn:AbstractTimeseriesPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="TimeseriesComponentPropertyType">
    <sequence>
      <element ref="dyn:TimeseriesComponent"/>
    </sequence>
  </complexType>
  <simpleType name="TimeseriesValueType">
    <restriction base="string">
      <enumeration value="integer"/>
      <enumeration value="double"/>
      <enumeration value="string"/>
      <enumeration value="geometry"/>
      <enumeration value="uri"/>
      <enumeration value="bool"/>
      <enumeration value="implicitGeometry"/>
      <enumeration value="appearance"/>
    </restriction>
  </simpleType>
</schema>
