src/main/resources/org/citygml4j/schemas/citygml/3.0/landUse.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:luse="http://www.opengis.net/citygml/landuse/3.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/landuse/3.0" version="3.0.0">
  <annotation>
    <documentation>The LandUse module supports representation of areas of the earth’s surface dedicated to a specific land use.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="ADEOfLandUse" substitutionGroup="gml:AbstractObject" type="luse:ADEOfLandUseType">
    <annotation>
      <documentation>ADEOfLandUse acts as a hook to define properties within an ADE that are to be added to a LandUse.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfLandUseType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfLandUsePropertyType">
    <sequence>
      <element ref="luse:ADEOfLandUse"/>
    </sequence>
  </complexType>
  <element name="LandUse" substitutionGroup="core:AbstractThematicSurface" type="luse:LandUseType">
    <annotation>
      <documentation>A LandUse object is an area of the earth's surface dedicated to a specific land use or having a specific land cover with or without vegetation, such as sand, rock, mud flats, forest, or grasslands.</documentation>
    </annotation>
  </element>
  <complexType name="LandUseType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>Indicates the specific type of the LandUse.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the intended purposes of the LandUse.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the actual uses of the LandUse.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfLandUse" type="luse:ADEOfLandUsePropertyType">
            <annotation>
              <documentation>Augments the LandUse with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LandUsePropertyType">
    <sequence minOccurs="0">
      <element ref="luse:LandUse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
