src/main/resources/org/citygml4j/schemas/citygml/3.0/tunnel.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:con="http://www.opengis.net/citygml/construction/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tun="http://www.opengis.net/citygml/tunnel/3.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/tunnel/3.0" version="3.0.0">
  <annotation>
    <documentation>The Tunnel module supports representation of thematic and spatial aspects of tunnels, tunnel parts, tunnel installations, and interior tunnel structures.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./core.xsd"/>
  <import namespace="http://www.opengis.net/citygml/construction/3.0" schemaLocation="./construction.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="ADEOfAbstractTunnel" substitutionGroup="gml:AbstractObject" type="tun:ADEOfAbstractTunnelType">
    <annotation>
      <documentation>ADEOfAbstractTunnel acts as a hook to define properties within an ADE that are to be added to AbstractTunnel.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfAbstractTunnelType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfAbstractTunnelPropertyType">
    <sequence>
      <element ref="tun:ADEOfAbstractTunnel"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfHollowSpace" substitutionGroup="gml:AbstractObject" type="tun:ADEOfHollowSpaceType">
    <annotation>
      <documentation>ADEOfHollowSpace acts as a hook to define properties within an ADE that are to be added to a HollowSpace.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfHollowSpaceType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfHollowSpacePropertyType">
    <sequence>
      <element ref="tun:ADEOfHollowSpace"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfTunnel" substitutionGroup="gml:AbstractObject" type="tun:ADEOfTunnelType">
    <annotation>
      <documentation>ADEOfTunnel acts as a hook to define properties within an ADE that are to be added to a Tunnel.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfTunnelType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfTunnelPropertyType">
    <sequence>
      <element ref="tun:ADEOfTunnel"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfTunnelConstructiveElement" substitutionGroup="gml:AbstractObject" type="tun:ADEOfTunnelConstructiveElementType">
    <annotation>
      <documentation>ADEOfTunnelConstructiveElement acts as a hook to define properties within an ADE that are to be added to a TunnelConstructiveElement.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfTunnelConstructiveElementType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfTunnelConstructiveElementPropertyType">
    <sequence>
      <element ref="tun:ADEOfTunnelConstructiveElement"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfTunnelFurniture" substitutionGroup="gml:AbstractObject" type="tun:ADEOfTunnelFurnitureType">
    <annotation>
      <documentation>ADEOfTunnelFurniture acts as a hook to define properties within an ADE that are to be added to a TunnelFurniture.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfTunnelFurnitureType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfTunnelFurniturePropertyType">
    <sequence>
      <element ref="tun:ADEOfTunnelFurniture"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfTunnelInstallation" substitutionGroup="gml:AbstractObject" type="tun:ADEOfTunnelInstallationType">
    <annotation>
      <documentation>ADEOfTunnelInstallation acts as a hook to define properties within an ADE that are to be added to a TunnelInstallation.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfTunnelInstallationType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfTunnelInstallationPropertyType">
    <sequence>
      <element ref="tun:ADEOfTunnelInstallation"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfTunnelPart" substitutionGroup="gml:AbstractObject" type="tun:ADEOfTunnelPartType">
    <annotation>
      <documentation>ADEOfTunnelPart acts as a hook to define properties within an ADE that are to be added to a TunnelPart.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfTunnelPartType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfTunnelPartPropertyType">
    <sequence>
      <element ref="tun:ADEOfTunnelPart"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AbstractTunnel" substitutionGroup="con:AbstractConstruction" type="tun:AbstractTunnelType">
    <annotation>
      <documentation>AbstractTunnel is an abstract superclass representing the common attributes and associations of the classes Tunnel and TunnelPart.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractTunnelType">
    <complexContent>
      <extension base="con:AbstractConstructionType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>Indicates the specific type of the Tunnel or TunnelPart.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the intended purposes of the Tunnel or TunnelPart.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the actual uses of the Tunnel or TunnelPart.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="tunnelConstructiveElement">
            <annotation>
              <documentation>Relates the constructive elements to the Tunnel or TunnelPart.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="tun:TunnelConstructiveElement"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="tunnelInstallation">
            <annotation>
              <documentation>Relates the installation objects to the Tunnel or TunnelPart.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="tun:TunnelInstallation"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="hollowSpace">
            <annotation>
              <documentation>Relates the hollow spaces to the Tunnel or TunnelPart.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="tun:HollowSpace"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="tunnelFurniture">
            <annotation>
              <documentation>Relates the furniture objects to the Tunnel or TunnelPart.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="tun:TunnelFurniture"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfAbstractTunnel" type="tun:ADEOfAbstractTunnelPropertyType">
            <annotation>
              <documentation>Augments AbstractTunnel with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractTunnelPropertyType">
    <sequence minOccurs="0">
      <element ref="tun:AbstractTunnel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HollowSpace" substitutionGroup="core:AbstractUnoccupiedSpace" type="tun:HollowSpaceType">
    <annotation>
      <documentation>A HollowSpace is a space within a Tunnel or TunnelPart intended for certain functions (e.g. transport or passage ways, service rooms, emergency shelters). A HollowSpace is bounded physically and/or virtually (e.g. by ClosureSurfaces or GenericSurfaces).</documentation>
    </annotation>
  </element>
  <complexType name="HollowSpaceType">
    <complexContent>
      <extension base="core:AbstractUnoccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>Indicates the specific type of the HollowSpace.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the intended purposes of the HollowSpace.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the actual uses of the HollowSpace.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="tunnelFurniture">
            <annotation>
              <documentation>Relates the furniture objects to the HollowSpace.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">tun:TunnelFurniture</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="tunnelInstallation">
            <annotation>
              <documentation>Relates the installation objects to the HollowSpace.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">tun:TunnelInstallation</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfHollowSpace" type="tun:ADEOfHollowSpacePropertyType">
            <annotation>
              <documentation>Augments the HollowSpace with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HollowSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="tun:HollowSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Tunnel" substitutionGroup="tun:AbstractTunnel" type="tun:TunnelType">
    <annotation>
      <documentation>A Tunnel represents a horizontal or sloping enclosed passage way of a certain length, mainly underground or underwater. [cf. ISO 6707-1]</documentation>
    </annotation>
  </element>
  <complexType name="TunnelType">
    <complexContent>
      <extension base="tun:AbstractTunnelType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="tunnelPart">
            <annotation>
              <documentation>Relates the tunnel parts to the Tunnel.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="tun:TunnelPart"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfTunnel" type="tun:ADEOfTunnelPropertyType">
            <annotation>
              <documentation>Augments the Tunnel with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelPropertyType">
    <sequence minOccurs="0">
      <element ref="tun:Tunnel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TunnelConstructiveElement" substitutionGroup="con:AbstractConstructiveElement" type="tun:TunnelConstructiveElementType">
    <annotation>
      <documentation>A TunnelConstructiveElement is an element of a Tunnel which is essential from a structural point of view. Examples are walls, slabs, beams.</documentation>
    </annotation>
  </element>
  <complexType name="TunnelConstructiveElementType">
    <complexContent>
      <extension base="con:AbstractConstructiveElementType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>Indicates the specific type of the TunnelConstructiveElement.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the intended purposes of the TunnelConstructiveElement.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the actual uses of the TunnelConstructiveElement.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfTunnelConstructiveElement" type="tun:ADEOfTunnelConstructiveElementPropertyType">
            <annotation>
              <documentation>Augments the TunnelConstructiveElement with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelConstructiveElementPropertyType">
    <sequence minOccurs="0">
      <element ref="tun:TunnelConstructiveElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TunnelFurniture" substitutionGroup="con:AbstractFurniture" type="tun:TunnelFurnitureType">
    <annotation>
      <documentation>A TunnelFurniture is an equipment for occupant use, usually not fixed to the tunnel. [cf. ISO 6707-1]</documentation>
    </annotation>
  </element>
  <complexType name="TunnelFurnitureType">
    <complexContent>
      <extension base="con:AbstractFurnitureType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>Indicates the specific type of the TunnelFurniture.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the intended purposes of the TunnelFurniture.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the actual uses of the TunnelFurniture.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfTunnelFurniture" type="tun:ADEOfTunnelFurniturePropertyType">
            <annotation>
              <documentation>Augments the TunnelFurniture with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelFurniturePropertyType">
    <sequence minOccurs="0">
      <element ref="tun:TunnelFurniture"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TunnelInstallation" substitutionGroup="con:AbstractInstallation" type="tun:TunnelInstallationType">
    <annotation>
      <documentation>A TunnelInstallation is a permanent part of a Tunnel (inside and/or outside) which does not have the significance of a TunnelPart. In contrast to TunnelConstructiveElement, a TunnelInstallation is not essential from a structural point of view. Examples are stairs, antennas or railings.</documentation>
    </annotation>
  </element>
  <complexType name="TunnelInstallationType">
    <complexContent>
      <extension base="con:AbstractInstallationType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>Indicates the specific type of the TunnelInstallation.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the intended purposes of the TunnelInstallation.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the actual uses of the TunnelInstallation.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfTunnelInstallation" type="tun:ADEOfTunnelInstallationPropertyType">
            <annotation>
              <documentation>Augments the TunnelInstallation with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelInstallationPropertyType">
    <sequence minOccurs="0">
      <element ref="tun:TunnelInstallation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TunnelPart" substitutionGroup="tun:AbstractTunnel" type="tun:TunnelPartType">
    <annotation>
      <documentation>A TunnelPart is a physical or functional subdivision of a Tunnel. It would be considered a Tunnel, if it were not part of a collection of other TunnelParts.</documentation>
    </annotation>
  </element>
  <complexType name="TunnelPartType">
    <complexContent>
      <extension base="tun:AbstractTunnelType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfTunnelPart" type="tun:ADEOfTunnelPartPropertyType">
            <annotation>
              <documentation>Augments the TunnelPart with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TunnelPartPropertyType">
    <sequence minOccurs="0">
      <element ref="tun:TunnelPart"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
