src/main/resources/org/citygml4j/schemas/citygml/3.0/waterBody.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wtr="http://www.opengis.net/citygml/waterbody/3.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/waterbody/3.0" version="3.0.0">
  <annotation>
    <documentation>The WaterBody module supports representation of the thematic aspects and 3D geometry of rivers, canals, lakes, and basins. It does, however, not inherit any hydrological or other dynamic aspects of fluid flow.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./core.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="ADEOfAbstractWaterBoundarySurface" substitutionGroup="gml:AbstractObject" type="wtr:ADEOfAbstractWaterBoundarySurfaceType">
    <annotation>
      <documentation>ADEOfAbstractWaterBoundarySurface acts as a hook to define properties within an ADE that are to be added to AbstractWaterBoundarySurface.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfAbstractWaterBoundarySurfaceType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfAbstractWaterBoundarySurfacePropertyType">
    <sequence>
      <element ref="wtr:ADEOfAbstractWaterBoundarySurface"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfWaterBody" substitutionGroup="gml:AbstractObject" type="wtr:ADEOfWaterBodyType">
    <annotation>
      <documentation>ADEOfWaterBody acts as a hook to define properties within an ADE that are to be added to a WaterBody.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfWaterBodyType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfWaterBodyPropertyType">
    <sequence>
      <element ref="wtr:ADEOfWaterBody"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfWaterGroundSurface" substitutionGroup="gml:AbstractObject" type="wtr:ADEOfWaterGroundSurfaceType">
    <annotation>
      <documentation>ADEOfWaterGroundSurface acts as a hook to define properties within an ADE that are to be added to a WaterGroundSurface.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfWaterGroundSurfaceType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfWaterGroundSurfacePropertyType">
    <sequence>
      <element ref="wtr:ADEOfWaterGroundSurface"/>
    </sequence>
  </complexType>
  <element abstract="true" name="ADEOfWaterSurface" substitutionGroup="gml:AbstractObject" type="wtr:ADEOfWaterSurfaceType">
    <annotation>
      <documentation>ADEOfWaterSurface acts as a hook to define properties within an ADE that are to be added to a WaterSurface.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ADEOfWaterSurfaceType">
    <sequence/>
  </complexType>
  <complexType name="ADEOfWaterSurfacePropertyType">
    <sequence>
      <element ref="wtr:ADEOfWaterSurface"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AbstractWaterBoundarySurface" substitutionGroup="core:AbstractThematicSurface" type="wtr:AbstractWaterBoundarySurfaceType">
    <annotation>
      <documentation>AbstractWaterBoundarySurface is the abstract superclass for all kinds of thematic surfaces bounding a water body.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractWaterBoundarySurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfAbstractWaterBoundarySurface" type="wtr:ADEOfAbstractWaterBoundarySurfacePropertyType">
            <annotation>
              <documentation>Augments AbstractWaterBoundarySurface with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractWaterBoundarySurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="wtr:AbstractWaterBoundarySurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterBody" substitutionGroup="core:AbstractOccupiedSpace" type="wtr:WaterBodyType">
    <annotation>
      <documentation>A WaterBody represents significant and permanent or semi-permanent accumulations of surface water, usually covering a part of the Earth.</documentation>
    </annotation>
  </element>
  <complexType name="WaterBodyType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>Indicates the specific type of the WaterBody.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the intended purposes of the WaterBody.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the actual uses of the WaterBody.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfWaterBody" type="wtr:ADEOfWaterBodyPropertyType">
            <annotation>
              <documentation>Augments the WaterBody with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="wtr:WaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterGroundSurface" substitutionGroup="wtr:AbstractWaterBoundarySurface" type="wtr:WaterGroundSurfaceType">
    <annotation>
      <documentation>A WaterGroundSurface represents the exterior boundary surface of the submerged bottom of a water body.</documentation>
    </annotation>
  </element>
  <complexType name="WaterGroundSurfaceType">
    <complexContent>
      <extension base="wtr:AbstractWaterBoundarySurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfWaterGroundSurface" type="wtr:ADEOfWaterGroundSurfacePropertyType">
            <annotation>
              <documentation>Augments the WaterGroundSurface with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterGroundSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="wtr:WaterGroundSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterSurface" substitutionGroup="wtr:AbstractWaterBoundarySurface" type="wtr:WaterSurfaceType">
    <annotation>
      <documentation>A WaterSurface represents the upper exterior interface between a water body and the atmosphere.</documentation>
    </annotation>
  </element>
  <complexType name="WaterSurfaceType">
    <complexContent>
      <extension base="wtr:AbstractWaterBoundarySurfaceType">
        <sequence>
          <element minOccurs="0" name="waterLevel" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the level of the WaterSurface.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="adeOfWaterSurface" type="wtr:ADEOfWaterSurfacePropertyType">
            <annotation>
              <documentation>Augments the WaterSurface with properties defined in an ADE.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="wtr:WaterSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
