src/main/resources/org/citygml4j/schemas/citygml/3.0/waterBody.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wtr="http://www.opengis.net/citygml/waterbody/3.0" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/citygml/waterbody/3.0" version="3.0.0">
  <annotation>
    <documentation>The WaterBody module supports representation of the thematic aspects and 3D geometry of rivers, canals, lakes, and basins. It does, however, not inherit any hydrological or other dynamic aspects of fluid flow.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="./cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/3.2/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractWaterBoundarySurface" substitutionGroup="core:AbstractThematicSurface" type="wtr:AbstractWaterBoundarySurfaceType">
    <annotation>
      <documentation>AbstractWaterBoundarySurface is the abstract superclass for all kinds of thematic surfaces bounding a water body.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractWaterBoundarySurfaceType">
    <complexContent>
      <extension base="core:AbstractThematicSurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="wtr:AbstractGenericApplicationPropertyOfAbstractWaterBoundarySurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfAbstractWaterBoundarySurface" type="anyType"/>
  <complexType name="AbstractWaterBoundarySurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="wtr:AbstractWaterBoundarySurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterBody" substitutionGroup="core:AbstractOccupiedSpace" type="wtr:WaterBodyType">
    <annotation>
      <documentation>A WaterBody represents significant and permanent or semi-permanent accumulations of surface water, usually covering a part of the Earth.</documentation>
    </annotation>
  </element>
  <complexType name="WaterBodyType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType">
            <annotation>
              <documentation>Indicates the specific type of the WaterBody.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the intended purposes of the WaterBody.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the actual uses of the WaterBody.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" ref="wtr:AbstractGenericApplicationPropertyOfWaterBody"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWaterBody" type="anyType"/>
  <complexType name="WaterBodyPropertyType">
    <sequence minOccurs="0">
      <element ref="wtr:WaterBody"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterGroundSurface" substitutionGroup="wtr:AbstractWaterBoundarySurface" type="wtr:WaterGroundSurfaceType">
    <annotation>
      <documentation>A WaterGroundSurface represents the exterior boundary surface of the submerged bottom of a water body.</documentation>
    </annotation>
  </element>
  <complexType name="WaterGroundSurfaceType">
    <complexContent>
      <extension base="wtr:AbstractWaterBoundarySurfaceType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="wtr:AbstractGenericApplicationPropertyOfWaterGroundSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWaterGroundSurface" type="anyType"/>
  <complexType name="WaterGroundSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="wtr:WaterGroundSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterSurface" substitutionGroup="wtr:AbstractWaterBoundarySurface" type="wtr:WaterSurfaceType">
    <annotation>
      <documentation>A WaterSurface represents the upper exterior interface between a water body and the atmosphere.</documentation>
    </annotation>
  </element>
  <complexType name="WaterSurfaceType">
    <complexContent>
      <extension base="wtr:AbstractWaterBoundarySurfaceType">
        <sequence>
          <element minOccurs="0" name="waterLevel" type="gml:CodeType">
            <annotation>
              <documentation>Specifies the level of the WaterSurface.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" ref="wtr:AbstractGenericApplicationPropertyOfWaterSurface"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element abstract="true" name="AbstractGenericApplicationPropertyOfWaterSurface" type="anyType"/>
  <complexType name="WaterSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="wtr:WaterSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
