datasets/EnergyADE.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--Erzeugt mit KIT (www.kit.edu) UmlToXmlTransformation-Software, Erstellungsdatum: 08.02.2018 09:05:17-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:energy="http://www.sig3d.org/citygml/2.0/energy/1.0" targetNamespace="http://www.sig3d.org/citygml/2.0/energy/1.0" xmlns:kit="http://www.kit.edu" xmlns:core="http://www.opengis.net/citygml/2.0" xmlns:bldg="http://www.opengis.net/citygml/building/2.0" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" version="1.0">
  
 <import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd" />
  <import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/building.xsd" />
  <import namespace="http://www.opengis.net/citygml/appearance/2.0" schemaLocation="http://schemas.opengis.net/citygml/appearance/2.0/appearance.xsd"/>
  <import namespace="http://www.opengis.net/citygml/generics/2.0"  schemaLocation="http://schemas.opengis.net/citygml/generics/2.0/generics.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
  <!--=========================================================================================-->
  <!--_AbstractBuilding-->
  <!--=========================================================================================-->
  <element name="buildingType" type="gml:CodeType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding">
    <annotation>
      <documentation>Classification of building according with their usage and form (e.g. single-family house, multi-family house, office building, industrial building).</documentation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>    
    </annotation>
  </element>
  <element name="constructionWeight" type="energy:ConstructionWeightValue" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding">
    <annotation>
      <documentation>Classification of building according with their construction structure.</documentation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="volume" type="energy:VolumeTypePropertyType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding">
    <annotation>
      <documentation>Total volume delimited by the external building dimension.</documentation>
    </annotation>
  </element>
  <element name="referencePoint" type="gml:PointPropertyType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding">
    <annotation>
      <documentation>Geographical location of the building.</documentation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>    
    </annotation>
  </element>
  <element name="thermalZone" type="energy:AbstractThermalZonePropertyType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding">
    <annotation>
      <appinfo>
        <gml:targetElement>energy:AbstractThermalZone</gml:targetElement>
      </appinfo>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>      
    </annotation>
  </element>
  <element name="usageZone" type="energy:AbstractUsageZonePropertyType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding">
    <annotation>
      <appinfo>
        <gml:targetElement>energy:AbstractUsageZone</gml:targetElement>
      </appinfo>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>      
    </annotation>
  </element>
  <element name="floorArea" type="energy:FloorAreaPropertyType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding">
    <annotation>
      <documentation>Floor area considered for the normalization of the standard energy demands.</documentation>
    </annotation>
  </element>
  <element name="heightAboveGround" type="energy:HeightAboveGroundPropertyType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding">
    <annotation>
      <documentation>Building height above general ground. level. This elevation lies anywhere between between the lowest and the highest ground points of the construction.</documentation>
    </annotation>
  </element>
  <!--=========================================================================================-->
  <!--_CityObject-->
  <!--=========================================================================================-->
  <element name="weatherData" type="energy:WeatherDataPropertyType" substitutionGroup="core:_GenericApplicationPropertyOfCityObject">
    <annotation>
      <appinfo>
        <gml:targetElement>energy:WeatherData</gml:targetElement>
      </appinfo>
    </annotation>
  </element>
  <element name="demands" type="energy:EnergyDemandPropertyType" substitutionGroup="core:_GenericApplicationPropertyOfCityObject">
    <annotation>
      <appinfo>
        <gml:targetElement>energy:EnergyDemand</gml:targetElement>
      </appinfo>
    </annotation>
  </element>
  <!--=========================================================================================-->
  <!--AbstractConstruction-->
  <!--=========================================================================================-->
  <element abstract="true" name="AbstractConstruction" type="energy:AbstractConstructionType" substitutionGroup="gml:_Feature" />
  <complexType abstract="true" name="AbstractConstructionType">
    <annotation>
      <documentation>Abstract base class of Construction and ConstructionOrientation.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractFeatureType" />
    </complexContent>
  </complexType>
  <complexType name="AbstractConstructionPropertyType">
    <sequence>
      <element ref="energy:AbstractConstruction" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--AbstractThermalZone-->
  <!--=========================================================================================-->
  <element abstract="true" name="AbstractThermalZone" type="energy:AbstractThermalZoneType" substitutionGroup="core:_CityObject" />
  <complexType abstract="true" name="AbstractThermalZoneType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element name="contains" minOccurs="0" maxOccurs="unbounded" type="energy:AbstractUsageZonePropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:AbstractUsageZone</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractThermalZonePropertyType">
    <sequence>
      <element ref="energy:AbstractThermalZone" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--AbstractUsageZone-->
  <!--=========================================================================================-->
  <element abstract="true" name="AbstractUsageZone" type="energy:AbstractUsageZoneType" substitutionGroup="core:_CityObject" />
  <complexType abstract="true" name="AbstractUsageZoneType">
    <annotation>
      <documentation>Abstract base class of the class UsageZone</documentation>
    </annotation>
    <complexContent>
      <extension base="core:AbstractCityObjectType" />
    </complexContent>
  </complexType>
  <complexType name="AbstractUsageZonePropertyType">
    <sequence>
      <element ref="energy:AbstractUsageZone" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--ConstructionWeightValue-->
  <!--=========================================================================================-->
  <simpleType name="ConstructionWeightValue">
    <annotation>
      <documentation>General classification of the building structure</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="veryLight">
        <annotation>
          <documentation>Very light construction</documentation>
        </annotation>
      </enumeration>
      <enumeration value="light">
        <annotation>
          <documentation>Light construction</documentation>
        </annotation>
      </enumeration>
      <enumeration value="medium">
        <annotation>
          <documentation>Medium construction</documentation>
        </annotation>
      </enumeration>
      <enumeration value="heavy">
        <annotation>
          <documentation>Heavy construction</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--ElevationReferenceValue-->
  <!--=========================================================================================-->
  <simpleType name="ElevationReferenceValue">
    <annotation>
      <documentation>Enumeration of different reference points for measuring an elevation.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="bottomOfConstruction">
        <annotation>
          <documentation>The elevation has been captured at the bottom of the usable part of the construction.

NOTE: The bottom of usable part of a building is generally its lowest underground floor.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="entrancePoint">
        <annotation>
          <documentation>The elevation has been captured at the entrance of the construction, generally the bottom of entrance door.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalEave">
        <annotation>
          <documentation>The elevation has been captured at eave level, anywhere between the lowest and the highest eave levels of the construction.

NOTE: in case of a roof having a symmetry axis, values generalEave, lowestEave and highestEave are equivalent.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalRoof">
        <annotation>
          <documentation>The elevation has been captured at roof level, anywhere between the lowest edge roof level and the top of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalRoofEdge">
        <annotation>
          <documentation>The elevation has been captured at roof edge level, anywhere between the lowest and the highest roof edges of the construction.

NOTE: in case of a roof having a symmetry axis, values generalRoofEdge, lowestRoofEdge and highestRoofEdge are equivalent.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestEave">
        <annotation>
          <documentation>The elevation has been captured at the highest eave level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestPoint">
        <annotation>
          <documentation>The elevation has been captured at the highest point of the construction, including the installations, such as chimneys and antennas.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestRoofEdge">
        <annotation>
          <documentation>The elevation has been captured at the highest roof edge level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestEave">
        <annotation>
          <documentation>The elevation has been captured at the lowest eave level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestFloorAboveGround">
        <annotation>
          <documentation>The elevation has been captured at the level of the lowest floor above ground.

This value is of interest for over-hanging buildings or for buildings on pylons.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestRoofEdge">
        <annotation>
          <documentation>The elevation has been captured at the lowest roof edge level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="topOfConstruction">
        <annotation>
          <documentation>The elevation has been captured at the top level of the construction.

NOTE: for buildings, it is generally top of the roof.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="topThermalBoundary">
        <annotation>
          <documentation>The elevation has been captured at the top of the highest Thermal Boundary.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bottomThermalBoundary">
        <annotation>
          <documentation>The elevation has been captured at the bottom of the lowest Thermal Boundary.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--EndUseTypeValue-->
  <!--=========================================================================================-->
  <simpleType name="EndUseTypeValue">
    <annotation>
      <documentation>Category of end use related to a building energy use.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="cooking">
        <annotation>
          <documentation>The practice or skill of preparing food by combining, mixing, and heating ingredients.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="domesticHotWater">
        <annotation>
          <documentation>Water used, in any type of building, for domestic purposes, principally drinking, food preparation, sanitation and personal hygiene (but not including space heating, swimming pool heating, or use for processes such as commercial food preparation or clothes washing).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="electricalAppliances">
        <annotation>
          <documentation>An electrical appliance is a device that uses electricity to perform a function.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lighting">
        <annotation>
          <documentation>Lighting includes the use of both artificial light sources like lamps and light fixtures, as well as natural illumination by capturing daylight.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="otherOrCombination">
        <annotation>
          <documentation>Other category of end use or a combination of the given end use related to a building energy use.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="spaceCooling">
        <annotation>
          <documentation>Processes of cooling down the space.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="spaceHeating">
        <annotation>
          <documentation>Processes of heating up the space.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ventilation">
        <annotation>
          <documentation>The provision of fresh air to a room, building, etc.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="process">
        <annotation>
          <documentation>A series of actions or steps taken in order to achieve a particular end.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--EnergyDemand-->
  <!--=========================================================================================-->
  <element name="EnergyDemand" type="energy:EnergyDemandType" substitutionGroup="gml:_Feature" />
  <complexType name="EnergyDemandType">
    <annotation>
      <documentation>Energy demand is the useful energy required to satisfy a specific end-use, such as heating, cooling, domestic hot water etc.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="energyAmount" type="energy:AbstractTimeSeriesPropertyType">
			<annotation>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>
			</annotation>			  
		  </element>          
          <element name="endUse" type="energy:EndUseTypeValue" />
          <element name="maximumLoad" minOccurs="0" type="gml:MeasureType" />
          <element name="energyCarrierType" minOccurs="0" type="gml:CodeType" />
          <element name="demandedBy" minOccurs="0" maxOccurs="unbounded" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <gml:targetElement>core:_CityObject</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnergyDemandPropertyType">
    <sequence>
      <element ref="energy:EnergyDemand" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--FloorArea-->
  <!--=========================================================================================-->
  <element name="FloorArea" type="energy:FloorAreaType" />
  <complexType name="FloorAreaType">
    <annotation>
      <documentation>Floor area</documentation>
    </annotation>
    <sequence>
      <element name="type" type="energy:FloorAreaTypeValue" />
      <element name="value" type="gml:AreaType" />
    </sequence>
  </complexType>
  <complexType name="FloorAreaPropertyType">
    <sequence>
      <element ref="energy:FloorArea" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--FloorAreaTypeValue-->
  <!--=========================================================================================-->
  <simpleType name="FloorAreaTypeValue">
    <annotation>
      <documentation>Enumeration of different calculation methods for the floor area of a building, thermal zone or usage zone</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="netFloorArea">
        <annotation>
          <documentation>Floor area without taking into account inner and outer walls</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grossFloorArea">
        <annotation>
          <documentation>Floor area including inner and outer walls</documentation>
        </annotation>
      </enumeration>
      <enumeration value="energyReferenceArea">
        <annotation>
          <documentation>Floor area determined by specific regulations.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--HeatExchangeType-->
  <!--=========================================================================================-->
  <element name="HeatExchangeType" type="energy:HeatExchangeTypeType" />
  <complexType name="HeatExchangeTypeType">
    <annotation>
      <documentation>Contributions of the different types of heat or cool exchange (convective, radiant and latent)</documentation>
    </annotation>
    <sequence>
      <element name="convectiveFraction" minOccurs="0" type="gml:ScaleType" />
      <element name="latentFraction" minOccurs="0" type="gml:ScaleType" />
      <element name="radiantFraction" minOccurs="0" type="gml:ScaleType" />
      <element name="totalValue" type="gml:MeasureType" />
    </sequence>
  </complexType>
  <complexType name="HeatExchangeTypePropertyType">
    <sequence>
      <element ref="energy:HeatExchangeType" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--HeightAboveGround-->
  <!--=========================================================================================-->
  <element name="HeightAboveGround" type="energy:HeightAboveGroundType" />
  <complexType name="HeightAboveGroundType">
    <annotation>
      <documentation>Different kinds of building height above general ground. level. The general ground level lies anywhere between the lowest and the highest ground points of the construction.</documentation>
    </annotation>
    <sequence>
      <element name="heightReference" type="energy:ElevationReferenceValue" />
      <element name="value" type="gml:LengthType" />
    </sequence>
  </complexType>
  <complexType name="HeightAboveGroundPropertyType">
    <sequence>
      <element ref="energy:HeightAboveGround" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--Transmittance-->
  <!--=========================================================================================-->
  <element name="Transmittance" type="energy:TransmittanceType" />
  <complexType name="TransmittanceType">
    <annotation>
      <documentation>Percentage of energy transmittance in different wavelength ranges. Effectiveness of a construction in transmitting an incident radiant flux of a given wavelength range.</documentation>
    </annotation>
    <sequence>
      <element name="fraction" type="gml:ScaleType" />
      <element name="wavelengthRange" type="energy:WavelengthRangeType" />
    </sequence>
  </complexType>
  <complexType name="TransmittancePropertyType">
    <sequence>
      <element ref="energy:Transmittance" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--VolumeType-->
  <!--=========================================================================================-->
  <element name="VolumeType" type="energy:VolumeTypeType" />
  <complexType name="VolumeTypeType">
    <annotation>
      <documentation>Volume of e.g. a ThermalZone or UsageZone</documentation>
    </annotation>
    <sequence>
      <element name="type" type="energy:VolumeTypeValue" />
      <element name="value" type="gml:VolumeType" />
    </sequence>
  </complexType>
  <complexType name="VolumeTypePropertyType">
    <sequence>
      <element ref="energy:VolumeType" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--WavelengthRangeType-->
  <!--=========================================================================================-->
  <simpleType name="WavelengthRangeType">
    <annotation>
      <documentation>Part of electromagnetic spectrum, corresponding to a range of radiation wavelength.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="solar">
        <annotation>
          <documentation>Solar radiation spectrum (Wavelength range: mainly 300 nm – 2500 nm), also called short-wave radiation.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="infrared">
        <annotation>
          <documentation>Infrared spectrum (Wavelength range: 700 nm – 1000 mm), also called long-wave radiation. Range of thermal radiation exchanges close to ambient temperature.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="visible">
        <annotation>
          <documentation>Visible light spectrum (Wavelength range: 400 nm – 800 nm).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="total">
        <annotation>
          <documentation>Total electromagnetic spectrum.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--WeatherData-->
  <!--=========================================================================================-->
  <element name="WeatherData" type="energy:WeatherDataType" substitutionGroup="gml:_GML" />
  <complexType name="WeatherDataType">
    <annotation>
      <documentation>Data structure to model weather or climate data at the location of a building.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="weatherDataType" type="energy:WeatherDataTypeValue" />
          <element name="values" type="energy:AbstractTimeSeriesPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:AbstractTimeSeries</gml:targetElement>
              </appinfo>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>              
            </annotation>
          </element>
          <element name="position" minOccurs="0" type="gml:PointPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WeatherDataPropertyType">
    <sequence>
      <element ref="energy:WeatherData" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--VolumeTypeValue-->
  <!--=========================================================================================-->
  <simpleType name="VolumeTypeValue">
    <annotation>
      <documentation>Enumeration of different calculation methods for the volume of a building or thermal zone.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="netVolume">
        <annotation>
          <documentation>Volume without taking into account inner and outer walls.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="grossVolume">
        <annotation>
          <documentation>Volume including inner and outer walls.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="energyReferenceVolume">
        <annotation>
          <documentation>Volume determined by specific regulations.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--WeatherDataTypeValue-->
  <!--=========================================================================================-->
  <simpleType name="WeatherDataTypeValue">
    <annotation>
      <documentation>The type of the weather data.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="airTemperature">
        <annotation>
          <documentation>Temperature of air</documentation>
        </annotation>
      </enumeration>
      <enumeration value="humidity">
        <annotation>
          <documentation>Relative air humidity</documentation>
        </annotation>
      </enumeration>
      <enumeration value="windSpeed">
        <annotation>
          <documentation>Speed of wind</documentation>
        </annotation>
      </enumeration>
      <enumeration value="cloudiness">
        <annotation>
          <documentation>Cloud amount in eights.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="globalSolarIrradiance">
        <annotation>
          <documentation>Total solar irradiance (Energy per area) on a horizontal area.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="directSolarIrradiance">
        <annotation>
          <documentation>Direct solar irradiance (energy per area) on a horizontal surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="diffuseSolarIrradiance">
        <annotation>
          <documentation>Diffuse solar irradiance (energy per area) on a horizontal surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="terrestrialEmission">
        <annotation>
          <documentation>Long wave emission of the earth*s surface (energy per area).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="downwardTerrestrialRadiation">
        <annotation>
          <documentation>Downwards directed, long wave atmospheric re-emission.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="daylightIlluminance">
        <annotation>
          <documentation>Daylight illuminance</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--ThermalBoundary-->
  <!--=========================================================================================-->
  <element name="ThermalBoundary" type="energy:ThermalBoundaryType" substitutionGroup="core:_CityObject" />
  <complexType name="ThermalBoundaryType">
    <annotation>
      <documentation>Thermal Boundaries delimit Thermal Zones. Thermal Boundaries represent physical relationships between two Thermal Zones, or a Thermal Zone and the outside environment, or a Thermal Zone and the ground. Their non-opening construction must be homogeneous.</documentation>
    </annotation>
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element name="thermalBoundaryType" type="energy:ThermalBoundaryTypeValue" />
          <element name="azimuth" minOccurs="0" type="gml:AngleType" />
          <element name="inclination" minOccurs="0" type="gml:AngleType" />
          <element name="area" minOccurs="0" type="gml:AreaType" />
          <element name="surfaceGeometry" minOccurs="0" type="gml:MultiSurfacePropertyType" />
          <element name="construction" minOccurs="0" type="energy:AbstractConstructionPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:AbstractConstruction</gml:targetElement>
              </appinfo>
		      <appinfo>
		        <taggedValue tag="relationType">aggregation</taggedValue>
		      </appinfo>               
            </annotation>
          </element>
          <element name="contains" minOccurs="0" maxOccurs="unbounded" type="energy:ThermalOpeningPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:ThermalOpening</gml:targetElement>
              </appinfo>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>              
            </annotation>
          </element>
          <element name="delimits" maxOccurs="2" type="energy:ThermalZonePropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:ThermalZone</gml:targetElement>
                <gml:reversePropertyName>energy:boundedBy</gml:reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThermalBoundaryPropertyType">
    <sequence>
      <element ref="energy:ThermalBoundary" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--ThermalBoundaryTypeValue-->
  <!--=========================================================================================-->
  <simpleType name="ThermalBoundaryTypeValue">
    <annotation>
      <documentation>Topological classification of the thermal boundary</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="interiorWall">
        <annotation>
          <documentation>Vertical partition separating two Thermal Zones of the same building.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="intermediaryFloor">
        <annotation>
          <documentation>Horizontal partition separating two Thermal Zones of the same building.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sharedWall">
        <annotation>
          <documentation>Vertical partition separating two different buildings.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="outerWall">
        <annotation>
          <documentation>Vertical ThermalBoundary with one side facing outdoor.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="groundSlab">
        <annotation>
          <documentation>Lower horizontal ThermalBoundary of the ThermalZone, built directly on the ground.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="basementCeiling">
        <annotation>
          <documentation>Horizontal partition separating the basement floor and the ground floor.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="atticFloor">
        <annotation>
          <documentation>Horizontal partition separating the attic and the highest full storey.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="roof">
        <annotation>
          <documentation>ThermalBoundary corresponding to the CityGML RoofSurface.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--ThermalOpening-->
  <!--=========================================================================================-->
  <element name="ThermalOpening" type="energy:ThermalOpeningType" substitutionGroup="core:_CityObject" />
  <complexType name="ThermalOpeningType">
    <annotation>
      <documentation>Single opening or group of openings, possibly related to an _Opening, sharing common thermal and optical characteristics.</documentation>
    </annotation>
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element name="area" minOccurs="0" type="gml:AreaType" />
          <element name="construction" minOccurs="0" type="energy:AbstractConstructionPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:AbstractConstruction</gml:targetElement>
              </appinfo>
		      <appinfo>
		        <taggedValue tag="relationType">aggregation</taggedValue>
		      </appinfo>                 
            </annotation>
          </element>
          <element name="surfaceGeometry" minOccurs="0" type="gml:MultiSurfacePropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThermalOpeningPropertyType">
    <sequence>
      <element ref="energy:ThermalOpening" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--ThermalZone-->
  <!--=========================================================================================-->
  <element name="ThermalZone" type="energy:ThermalZoneType" substitutionGroup="energy:AbstractThermalZone" />
  <complexType name="ThermalZoneType">
    <annotation>
      <documentation>A thermal zone is a zone of a building which serves as unit for the building heating and cooling simulation. For the simulation, a thermal zone is considered as isothermal.
It is a semantic object, which may be or not related to a geometric entity. </documentation>
    </annotation>
    <complexContent>
      <extension base="energy:AbstractThermalZoneType">
        <sequence>
          <element name="floorArea" minOccurs="0" maxOccurs="unbounded" type="energy:FloorAreaPropertyType" />
          <element name="volume" minOccurs="0" maxOccurs="unbounded" type="energy:VolumeTypePropertyType" />
          <element name="infiltrationRate" minOccurs="0" type="gml:MeasureType" />
          <element name="isCooled" default="true" type="boolean" />
          <element name="isHeated" default="true" type="boolean" />
          <element name="volumeGeometry" minOccurs="0" type="gml:SolidPropertyType" />
          <element name="boundedBy" minOccurs="0" maxOccurs="unbounded" type="energy:ThermalBoundaryPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:ThermalBoundary</gml:targetElement>
                <gml:reversePropertyName>energy:delimits</gml:reversePropertyName>
              </appinfo>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>              
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThermalZonePropertyType">
    <sequence>
      <element ref="energy:ThermalZone" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--AbstractMaterial-->
  <!--=========================================================================================-->
  <element abstract="true" name="AbstractMaterial" type="energy:AbstractMaterialType" substitutionGroup="gml:_Feature" />
  <complexType abstract="true" name="AbstractMaterialType">
    <annotation>
      <documentation>Abstract superclass for all Material classes. A Material is a homogeneous substance that can be used to form elements.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractMaterialPropertyType">
    <sequence>
      <element ref="energy:AbstractMaterial" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--Construction-->
  <!--=========================================================================================-->
  <element name="Construction" type="energy:ConstructionType" substitutionGroup="energy:AbstractConstruction" />
  <complexType name="ConstructionType">
    <annotation>
      <documentation>A Construction is a combination of layers, such as a wall or a roof.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:AbstractConstructionType">
        <sequence>
          <element name="uValue" minOccurs="0" type="gml:MeasureType" />
          <element name="opticalProperties" minOccurs="0" type="energy:OpticalPropertiesPropertyType" />
          <element name="layer" minOccurs="0" maxOccurs="unbounded" type="energy:LayerPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:Layer</gml:targetElement>
              </appinfo>
		      <appinfo>
		        <taggedValue tag="relationType">composition</taggedValue>
		      </appinfo>                  
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConstructionPropertyType">
    <sequence>
      <element ref="energy:Construction" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--Gas-->
  <!--=========================================================================================-->
  <element name="Gas" type="energy:GasType" substitutionGroup="energy:AbstractMaterial" />
  <complexType name="GasType">
    <annotation>
      <documentation>Gaseous material</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:AbstractMaterialType">
        <sequence>
          <element name="isVentilated" minOccurs="0" default="false" type="boolean" />
          <element name="rValue" minOccurs="0" type="gml:MeasureType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GasPropertyType">
    <sequence>
      <element ref="energy:Gas" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--Layer-->
  <!--=========================================================================================-->
  <element name="Layer" type="energy:LayerType" substitutionGroup="gml:_Feature" />
  <complexType name="LayerType">
    <annotation>
      <documentation>A Layer is a combination of one of more materials, references via a LayerComponent.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="layerComponent" maxOccurs="unbounded" type="energy:LayerComponentPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:LayerComponent</gml:targetElement>
              </appinfo>
		      <appinfo>
		        <taggedValue tag="relationType">composition</taggedValue>
		      </appinfo>               
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LayerPropertyType">
    <sequence>
      <element ref="energy:Layer" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--LayerComponent-->
  <!--=========================================================================================-->
  <element name="LayerComponent" type="energy:LayerComponentType" substitutionGroup="gml:_Feature" />
  <complexType name="LayerComponentType">
    <annotation>
      <documentation>A Construction may be defined as an ordered combination of layers, themselves composed of one or more LayerComponent. A LayerComponent is a homogeneous part of a Layer (composed of a unique material) covering a given fraction (areaFraction) of it.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="areaFraction" minOccurs="0" default="1.0" type="gml:ScaleType" />
          <element name="thickness" minOccurs="0" type="gml:LengthType" />
          <element name="material" type="energy:AbstractMaterialPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:AbstractMaterial</gml:targetElement>
              </appinfo>
		      <appinfo>
		        <taggedValue tag="relationType">composition</taggedValue>
		      </appinfo>                             
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LayerComponentPropertyType">
    <sequence>
      <element ref="energy:LayerComponent" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--OpticalProperties-->
  <!--=========================================================================================-->
  <element name="OpticalProperties" type="energy:OpticalPropertiesType" />
  <complexType name="OpticalPropertiesType">
    <annotation>
      <documentation>Optical properties of a material</documentation>
    </annotation>
    <sequence>
      <element name="reflectance" minOccurs="0" maxOccurs="unbounded" type="energy:ReflectancePropertyType" />
      <element name="transmittance" minOccurs="0" maxOccurs="unbounded" type="energy:TransmittancePropertyType" />
      <element name="glazingRatio" minOccurs="0" type="gml:ScaleType" />
    </sequence>
  </complexType>
  <complexType name="OpticalPropertiesPropertyType">
    <sequence>
      <element ref="energy:OpticalProperties" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--Reflectance-->
  <!--=========================================================================================-->
  <element name="Reflectance" type="energy:ReflectanceType" />
  <complexType name="ReflectanceType">
    <annotation>
      <documentation>Effectiveness of a material surface in reflecting an incident radiant flux of a given wavelength range.</documentation>
    </annotation>
    <sequence>
      <element name="fraction" type="gml:ScaleType" />
      <element name="surface" type="energy:SurfaceSide" />
      <element name="wavelengthRange" type="energy:WavelengthRangeType" />
    </sequence>
  </complexType>
  <complexType name="ReflectancePropertyType">
    <sequence>
      <element ref="energy:Reflectance" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--SolidMaterial-->
  <!--=========================================================================================-->
  <element name="SolidMaterial" type="energy:SolidMaterialType" substitutionGroup="energy:AbstractMaterial" />
  <complexType name="SolidMaterialType">
    <annotation>
      <documentation>Solid material.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:AbstractMaterialType">
        <sequence>
          <element name="conductivity" minOccurs="0" type="gml:MeasureType" />
          <element name="density" minOccurs="0" type="gml:MeasureType" />
          <element name="permeance" minOccurs="0" type="gml:MeasureType" />
          <element name="specificHeat" minOccurs="0" type="gml:MeasureType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SolidMaterialPropertyType">
    <sequence>
      <element ref="energy:SolidMaterial" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--SurfaceSide-->
  <!--=========================================================================================-->
  <simpleType name="SurfaceSide">
    <annotation>
      <documentation>Surface side of the construction</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="inside">
        <annotation>
          <documentation>Indoor surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="outside">
        <annotation>
          <documentation>Outdoor surface.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--DHWFacilities-->
  <!--=========================================================================================-->
  <element name="DHWFacilities" type="energy:DHWFacilitiesType" substitutionGroup="energy:Facilities" />
  <complexType name="DHWFacilitiesType">
    <annotation>
      <documentation>Facilities for domestic hot water usage.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:FacilitiesType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DHWFacilitiesPropertyType">
    <sequence>
      <element ref="energy:DHWFacilities" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--ElectricalAppliances-->
  <!--=========================================================================================-->
  <element name="ElectricalAppliances" type="energy:ElectricalAppliancesType" substitutionGroup="energy:Facilities" />
  <complexType name="ElectricalAppliancesType">
    <annotation>
      <documentation>Non-HVAC electrical devices/appliances inside the building unit or building zone.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:FacilitiesType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElectricalAppliancesPropertyType">
    <sequence>
      <element ref="energy:ElectricalAppliances" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--Facilities-->
  <!--=========================================================================================-->
  <element name="Facilities" type="energy:FacilitiesType" substitutionGroup="core:_CityObject" />
  <complexType name="FacilitiesType">
    <annotation>
      <documentation>Facilities and appliances inside the usage zone or building unit, which consume and dissipate energy.</documentation>
    </annotation>
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element name="operationSchedule" minOccurs="0" type="energy:AbstractSchedulePropertyType">
			<annotation>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>
			</annotation>			  
		  </element>          
          <element name="heatDissipation" minOccurs="0" type="energy:HeatExchangeTypePropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:HeatExchangeType</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FacilitiesPropertyType">
    <sequence>
      <element ref="energy:Facilities" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--LightingFacilities-->
  <!--=========================================================================================-->
  <element name="LightingFacilities" type="energy:LightingFacilitiesType" substitutionGroup="energy:Facilities" />
  <complexType name="LightingFacilitiesType">
    <annotation>
      <documentation>Facilities for lighting devices/appliances inside the building unit or building zone.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:FacilitiesType">
        <sequence />
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LightingFacilitiesPropertyType">
    <sequence>
      <element ref="energy:LightingFacilities" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--Occupants-->
  <!--=========================================================================================-->
  <element name="Occupants" type="energy:OccupantsType" substitutionGroup="gml:_Feature" />
  <complexType name="OccupantsType">
    <annotation>
      <documentation>Occupants is an aggregated group of occupants of a usage zone or building unit, which can be residents, workers, visitors etc. </documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="heatDissipation" minOccurs="0" type="energy:HeatExchangeTypePropertyType" />
          <element name="numberOfOccupants" minOccurs="0" type="int" />
          <element name="occupancyRate" minOccurs="0" type="energy:AbstractSchedulePropertyType">
			<annotation>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>
			</annotation>			  
		  </element>          
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OccupantsPropertyType">
    <sequence>
      <element ref="energy:Occupants" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--UsageZone-->
  <!--=========================================================================================-->
  <element name="UsageZone" type="energy:UsageZoneType" substitutionGroup="energy:AbstractUsageZone" />
  <complexType name="UsageZoneType">
    <annotation>
      <documentation>A usage zone is a zone of a building with homogeneous usage type.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:AbstractUsageZoneType">
        <sequence>
          <element name="coolingSchedule" minOccurs="0" type="energy:AbstractSchedulePropertyType">
			<annotation>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>
			</annotation>		  
		  </element>          
          <element name="heatingSchedule" minOccurs="0" type="energy:AbstractSchedulePropertyType">
			<annotation>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>
			</annotation>		  
		  </element>	          
          <element name="usageZoneType" type="gml:CodeType" />
          <element name="ventilationSchedule" minOccurs="0" type="energy:AbstractSchedulePropertyType">
			<annotation>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>
			</annotation>		  
		  </element>		            
          <element name="floorArea" minOccurs="0" maxOccurs="unbounded" type="energy:FloorAreaPropertyType" />
          <element name="occupiedBy" minOccurs="0" maxOccurs="unbounded" type="energy:OccupantsPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:Occupants</gml:targetElement>
              </appinfo>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>              
            </annotation>
          </element>
          <element name="equippedWith" minOccurs="0" maxOccurs="unbounded" type="energy:FacilitiesPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:Facilities</gml:targetElement>
              </appinfo>
			  <appinfo>
				<taggedValue tag="relationType">composition</taggedValue>
			  </appinfo>              
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UsageZonePropertyType">
    <sequence>
      <element ref="energy:UsageZone" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--AbstractSchedule-->
  <!--=========================================================================================-->
  <element abstract="true" name="AbstractSchedule" type="energy:AbstractScheduleType" substitutionGroup="gml:_GML" />
  <complexType abstract="true" name="AbstractScheduleType">
    <annotation>
      <documentation>Base class for all kinds of schedules related to the building usage: heating and cooling schedules (set-point temperatures), ventilation schedules (mechanical air change rate), occupancy rate and facilities operation schedules.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractGMLType" />
    </complexContent>
  </complexType>
  <complexType name="AbstractSchedulePropertyType">
    <sequence>
      <element ref="energy:AbstractSchedule" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--AbstractTimeSeries-->
  <!--=========================================================================================-->
  <element abstract="true" name="AbstractTimeSeries" type="energy:AbstractTimeSeriesType" substitutionGroup="gml:_GML" />
  <complexType abstract="true" name="AbstractTimeSeriesType">
    <annotation>
      <documentation>Base class for all types of time series. A time series is a consistent series of time-depending values.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="variableProperties" type="energy:TimeValuesPropertiesPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractTimeSeriesPropertyType">
    <sequence>
      <element ref="energy:AbstractTimeSeries" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--AcquisitionMethodValue-->
  <!--=========================================================================================-->
  <simpleType name="AcquisitionMethodValue">
    <annotation>
      <documentation>Classification of different acquisition methods for time series.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="measurement">
        <annotation>
          <documentation>Measured data</documentation>
        </annotation>
      </enumeration>
      <enumeration value="simulation">
        <annotation>
          <documentation>Simulated data</documentation>
        </annotation>
      </enumeration>
      <enumeration value="calibratedSimulation">
        <annotation>
          <documentation>Data of a calibrated simulation</documentation>
        </annotation>
      </enumeration>
      <enumeration value="estimation">
        <annotation>
          <documentation>Estimated data</documentation>
        </annotation>
      </enumeration>
      <enumeration value="unknown">
        <annotation>
          <documentation>Unknown acquisition method</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--DailyPatternSchedule-->
  <!--=========================================================================================-->
  <element name="DailyPatternSchedule" type="energy:DailyPatternScheduleType" substitutionGroup="energy:AbstractSchedule" />
  <complexType name="DailyPatternScheduleType">
    <annotation>
      <documentation>Schedule representation consisting of a set of daily schedules associated to recurrent day types (weekday, weekend etc.). In different time periods within a year, different daily schedules may be associated to a day type.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:AbstractScheduleType">
        <sequence>
          <element name="periodOfYear" maxOccurs="unbounded" type="energy:PeriodOfYearPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:PeriodOfYear</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DailyPatternSchedulePropertyType">
    <sequence>
      <element ref="energy:DailyPatternSchedule" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--DailySchedule-->
  <!--=========================================================================================-->
  <element name="DailySchedule" type="energy:DailyScheduleType" />
  <complexType name="DailyScheduleType">
    <annotation>
      <documentation>Schedule over a one day period (from 0:00 to 24:00).</documentation>
    </annotation>
    <sequence>
      <element name="dayType" type="energy:DayTypeValue" />
      <element name="schedule" type="energy:AbstractTimeSeriesPropertyType">
		<annotation>	  
		  <appinfo>
			<taggedValue tag="relationType">composition</taggedValue>
		  </appinfo>	
		</annotation>			  
	  </element>      
    </sequence>
  </complexType>
  <complexType name="DailySchedulePropertyType">
    <sequence>
      <element ref="energy:DailySchedule" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--DayTypeValue-->
  <!--=========================================================================================-->
  <simpleType name="DayTypeValue">
    <annotation>
      <documentation>Type referring to a day categorization.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="monday">
        <annotation>
          <documentation>Monday is the day of the week between Sunday and Tuesday. According to the international standard ISO 8601 it is the first day of the week.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tuesday">
        <annotation>
          <documentation>Tuesday is a day of the week occurring after Monday and before Wednesday. According to international standard ISO 8601, it is the second day of the week.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="wednesday">
        <annotation>
          <documentation>Wednesday is the day of the week following Tuesday and preceding Thursday. According to international standard ISO 8601 it is the third day of the week.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="thursday">
        <annotation>
          <documentation>Thursday is the day of the week following Wednesday and before Friday. According to the ISO 8601 international standard, it is the fourth day of the week.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="friday">
        <annotation>
          <documentation>Friday is the day after Thursday and the day before Saturday. As recommended by the international standard ISO 8601, it is the fifth day of the week.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="saturday">
        <annotation>
          <documentation>Saturday is the day of the week following Friday and preceding Sunday. </documentation>
        </annotation>
      </enumeration>
      <enumeration value="sunday">
        <annotation>
          <documentation>Sunday is the day of the week after Saturday but before Monday. Sunday is a day of rest in most Western countries, as a part of the weekend.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="designDay">
        <annotation>
          <documentation>"Extrem summer" day used for the sizing and design of HVAC Systems in summer condition.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="weekDay">
        <annotation>
          <documentation>Monday to Friday.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="weekEnd">
        <annotation>
          <documentation>Saturday and Sunday.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="typicalDay">
        <annotation>
          <documentation>Typical day defined by specific regulations.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--InterpolationTypeValue-->
  <!--=========================================================================================-->
  <simpleType name="InterpolationTypeValue">
    <annotation>
      <documentation>Mathematical rule required for the variable interpolation, defined in WaterML:http://def.seegrid.csiro.au/sissvoc/ogc-def/resource?uri=http://www.opengis.net/def/waterml/2.0/interpolationType/</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="averageInPrecedingInterval">
        <annotation>
          <documentation>Value represents the average value over the preceding interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="averageInSucceedingInterval">
        <annotation>
          <documentation>Value represents the average value over the following interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="constantInPrecedingInterval">
        <annotation>
          <documentation>Value is constant in the preceding interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="constantInSucceedingInterval">
        <annotation>
          <documentation>Value is constant in the succeeding interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="continuous">
        <annotation>
          <documentation>A continuous time series indicates the observation result is the value of a property at the indicated instant in time. The points are essentially connected and interpolation may occur between points in order to estimate the value of the property between points. The appropriate time spacing between successive points to minimise interpolation errors is related to rate of change (wrt time) of the property.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="discontinuous">
        <annotation>
          <documentation>The sampling of the property occurs such that it is not possible to regard the series as continuous. The time between samples is too large to classify the measurements as continuous.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="instantaneousTotal">
        <annotation>
          <documentation>Value represents a total attributed to a specific time instant. This is normally generated from an event based measuring device such as a tipping bucket rain gauge.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="maximumInPrecedingInterval">
        <annotation>
          <documentation>Value represents the maximum value that was measured during the preceding time interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="maximumInSucceedingInterval">
        <annotation>
          <documentation>Value represents the maximum value for the following interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="minimumInPrecedingInterval">
        <annotation>
          <documentation>Value represents the minimum value that was measured during the preceding time interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="minimumInSucceedingInterval">
        <annotation>
          <documentation>Value represents the minimum value for the following interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="precedingTotal">
        <annotation>
          <documentation>Value represents the total of measurements taken within the previous time interval.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="succeedingTotal">
        <annotation>
          <documentation>Value represents the average value over the following interval.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--=========================================================================================-->
  <!--PeriodOfYear-->
  <!--=========================================================================================-->
  <element name="PeriodOfYear" type="energy:PeriodOfYearType" />
  <complexType name="PeriodOfYearType">
    <annotation>
      <documentation>Specification of a time period  (e.g. 1. January -30. June) within a  year.</documentation>
    </annotation>
    <sequence>
      <element name="period" type="gml:TimePeriodPropertyType" />
      <element name="dailySchedule" maxOccurs="unbounded" type="energy:DailySchedulePropertyType" />
    </sequence>
  </complexType>
  <complexType name="PeriodOfYearPropertyType">
    <sequence>
      <element ref="energy:PeriodOfYear" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--RegularTimeSeries-->
  <!--=========================================================================================-->
  <element name="RegularTimeSeries" type="energy:RegularTimeSeriesType" substitutionGroup="energy:AbstractTimeSeries" />
  <complexType name="RegularTimeSeriesType">
    <annotation>
      <documentation>Series of time-depending values, regularly spaced with a constant interval of time.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:AbstractTimeSeriesType">
        <sequence>
          <element name="temporalExtent" type="gml:TimePeriodPropertyType" />
          <element name="timeInterval" type="gml:TimeIntervalLengthType" />
          <element name="values" type="gml:MeasureListType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegularTimeSeriesPropertyType">
    <sequence>
      <element ref="energy:RegularTimeSeries" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--RegularTimeSeriesFile-->
  <!--=========================================================================================-->
  <element name="RegularTimeSeriesFile" type="energy:RegularTimeSeriesFileType" substitutionGroup="energy:AbstractTimeSeries" />
  <complexType name="RegularTimeSeriesFileType">
    <annotation>
      <documentation>Time series with a constant time increment, stored in textual format (e.g. CSV)  on an external device.</documentation>
    </annotation>
    <complexContent>
      <extension base="energy:AbstractTimeSeriesType">
        <sequence>
          <element name="uom" type="gml:UnitOfMeasureType" />
          <element name="file" type="anyURI" />
          <element name="temporalExtent" type="gml:TimePeriodPropertyType" />
          <element name="timeInterval" type="gml:TimeIntervalLengthType" />
          <element name="numberOfHeaderLines" minOccurs="0" default="0" type="int" />
          <element name="fieldSeparator" type="string" />
          <element name="recordSeparator" minOccurs="0" default="\n" type="string" />
          <element name="decimalSymbol" minOccurs="0" default="." type="string" />
          <element name="valueColumnNumber" minOccurs="0" default="1" type="int" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegularTimeSeriesFilePropertyType">
    <sequence>
      <element ref="energy:RegularTimeSeriesFile" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
  <!--=========================================================================================-->
  <!--TimeValuesProperties-->
  <!--=========================================================================================-->
  <element name="TimeValuesProperties" type="energy:TimeValuesPropertiesType" />
  <complexType name="TimeValuesPropertiesType">
    <annotation>
      <documentation>Set of meta data of a time series</documentation>
    </annotation>
    <sequence>
      <element name="acquisitionMethod" type="energy:AcquisitionMethodValue" />
      <element name="interpolationType" type="energy:InterpolationTypeValue" />
      <element name="qualityDescription" minOccurs="0" type="string" />
      <element name="source" minOccurs="0" type="string" />
      <element name="thematicDescription" minOccurs="0" type="string" />
    </sequence>
  </complexType>
  <complexType name="TimeValuesPropertiesPropertyType">
    <sequence>
      <element ref="energy:TimeValuesProperties" minOccurs="0" />
    </sequence>
  </complexType>
  <!--=========================================================================================-->
  <!--WeatherStation-->
  <!--=========================================================================================-->
  <element name="WeatherStation" type="energy:WeatherStationType" substitutionGroup="core:_CityObject">
    <annotation>
      <appinfo>
        <taggedValue tag="topLevel">true</taggedValue>
      </appinfo>
    </annotation>
  </element>  
  <complexType name="WeatherStationType">
    <annotation>
      <documentation>Aggregation of different time series (WeatherData) of meteorological or radiation parameters, e,g, measured by a specific weather station.</documentation>
    </annotation>
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element name="stationName" minOccurs="0" type="string" />
          <element name="position" minOccurs="0" type="gml:PointPropertyType" />
          <element name="parameter" minOccurs="0" maxOccurs="unbounded" type="energy:WeatherDataPropertyType">
            <annotation>
              <appinfo>
                <gml:targetElement>energy:WeatherData</gml:targetElement>
              </appinfo>
            </annotation>
          </element>
          <element ref="energy:_GenericApplicationPropertyOfWeatherStation" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="_GenericApplicationPropertyOfWeatherStation" type="anyType" abstract="true" />
  <complexType name="WeatherStationPropertyType">
    <sequence>
      <element ref="energy:WeatherStation" minOccurs="0" />
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup" />
  </complexType>
</schema>